Repository counterfactual/monorepo, pull requests merged in 2018-12, with the labels that each got.

#276 [node] Initial setup
  package.json
  packages/contracts/package.json
  packages/node/.gitignore
  packages/node/package.json
  packages/node/rollup.config.js
  packages/node/src/node-types.ts
  packages/node/src/node.ts
  packages/node/test/unit/get-app-instances.spec.ts
  packages/node/test/unit/node.spec.ts
  yarn.lock
Labels: Package: Node

#316 [monorepo] Adds arbitrary order build script
  build.sh
  package.json
Labels: Type: Maintenance

#314 [node] Nodes can use store service
  .circleci/config.yml
  packages/node/.env.example
  packages/node/src/node.ts
  packages/node/src/service-interfaces.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/services/firebase-messaging-service.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/mock-services/mock-messaging-service.ts
  packages/node/test/mock-services/mock-store-service.ts
  packages/node/test/unit/get-app-instances.spec.ts
  packages/node/test/unit/node.spec.ts
Labels: Package: Node

#318 Serialize stencil tests
  packages/playground/package.json
Labels: Type: Maintenance

#298 [node] Nodes can communicate
  build.sh
  packages/node/.env.example
  packages/node/.gitignore
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/node.ts
  packages/node/src/service-interfaces.ts
  packages/node/test/env.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/mock-services/mock-messaging-service.ts
  packages/node/test/mock-services/mock-store-service.ts
  packages/node/test/unit/get-app-instances.spec.ts
  packages/node/test/unit/node.spec.ts
  yarn.lock
Labels: Package: Node

#312 [dapp-high-roller] Integrate with Playground + CF.js + NodeProvider
  build.sh
  packages/cf.js/rollup.config.js
  packages/common-types/package.json
  packages/common-types/rollup.config.js
  packages/dapp-high-roller/jest-setup.js
  packages/dapp-high-roller/netlify.sh
  packages/dapp-high-roller/package.json
  packages/dapp-high-roller/src/assets/cf.js
  packages/dapp-high-roller/src/assets/common-types.js
  packages/dapp-high-roller/src/assets/ethers.js
  packages/dapp-high-roller/src/assets/eventemitter3.js
  packages/dapp-high-roller/src/assets/node-provider.js
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.e2e.ts
  packages/dapp-high-roller/src/components/app-wager/app-wager.spec.ts
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/data/__mocks__/counterfactual.tsx
  packages/dapp-high-roller/src/data/counterfactual.tsx
  packages/dapp-high-roller/src/index.d.ts
  packages/dapp-high-roller/src/index.html
  packages/dapp-high-roller/stencil.config.ts
  packages/dapp-high-roller/test-setup.js
  packages/node-provider/package.json
  packages/node-provider/rollup.config.js
  packages/node-provider/src/node-provider.ts
  packages/playground/src/components/dapp-container/dapp-container.tsx
  yarn.lock
Labels: Package: CF.js, Package: DappHighRoller, Package: NodeProvider, Package: Playground

#319 [playground] Implements stencil-route-link for app-logo
  packages/playground/src/components/layout/app-header/app-logo/app-logo.tsx
Labels: Package: Playground

#323 [playground] Implements fakeConnect for <header-account>
  packages/playground/src/components/layout/layout-header/header-account/header-account.spec.ts
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/layout/layout-header/header-content/header-content.tsx
Labels: Package: Playground

#324 [CFjs] Propose install of app instances
  packages/cf.js/src/app-factory.ts
  packages/cf.js/src/app-instance.ts
  packages/cf.js/src/index.ts
  packages/cf.js/src/provider.ts
  packages/cf.js/test/app-factory.spec.ts
  packages/cf.js/test/fixture.ts
  packages/cf.js/test/legacy/app-instance.spec.ts
  packages/cf.js/test/provider.spec.ts
  packages/common-types/src/data-types.ts
Labels: Package: CF.js

#329 [node] Propose install & install across Nodes
  packages/cf.js/API_REFERENCE.md
  packages/common-types/src/node-protocol.ts
  packages/node/.env.example
  packages/node/package.json
  packages/node/src/channels.ts
  packages/node/src/index.ts
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/multisig-operations.ts
  packages/node/src/methods/request-handler.ts
  packages/node/src/node.ts
  packages/node/src/service-interfaces.ts
  packages/node/src/utils.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/get-app-instances.spec.ts
  packages/node/test/unit/node.spec.ts
Labels: Package: Node

#349 [monorepo] Use tslint-microsoft-contrib@^6.0.0
  package.json
  tslint.json
  yarn.lock
Labels: Type: Maintenance

#347 [node] Opaque app instance ID
  packages/node/.env.example
  packages/node/package.json
  packages/node/src/channels.ts
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/models.ts
  packages/node/src/node.ts
  packages/node/src/service-interfaces.ts
  packages/node/src/utils.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/integration/utils.ts
  packages/node/test/mock-services/mock-store-service.ts
  packages/node/test/unit/node.spec.ts
  yarn.lock
Labels: Package: Node

#361 [node] Default service implementations
  packages/node/src/channels.ts
  packages/node/src/index.ts
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/multisig-operations.ts
  packages/node/src/methods/request-handler.ts
  packages/node/src/node.ts
  packages/node/src/service-interfaces.ts
  packages/node/src/services.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/mock-services/mock-messaging-service.ts
  packages/node/test/mock-services/mock-store-service.ts
Labels: Package: Node

#369 Slight cleanup to README titles and descriptions
  packages/cf.js/README.md
  packages/contracts/README.md
  packages/dapp-high-roller/README.md
  packages/machine/README.md
  packages/playground/README.md
  packages/typescript-typings/README.md
Labels: documentation

#364 Replace ethers usage to always import from module
  packages/cf.js/rollup.config.js
  packages/cf.js/src/legacy/app-instance.ts
  packages/cf.js/src/legacy/app/index.ts
  packages/cf.js/src/legacy/eth-balance-refund-app.ts
  packages/cf.js/src/legacy/node/index.ts
  packages/cf.js/src/legacy/types.ts
  packages/cf.js/src/legacy/utils/free-balance.ts
  packages/cf.js/src/legacy/utils/peer-balance.ts
  packages/cf.js/src/legacy/utils/serializer.ts
  packages/cf.js/src/utils/abi.ts
  packages/cf.js/src/utils/signature.ts
  packages/cf.js/test/app-factory.spec.ts
  packages/cf.js/test/utils/signature.spec.ts
  packages/contracts/test/app-registry.spec.ts
  packages/node/src/channels.ts
  packages/node/src/models.ts
  packages/node/src/node.ts
  packages/node/src/utils.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/utils.ts
Labels: code quality

#372 Rename appCfAddress to appInstanceId
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/machine/test/unit/ethereum/install.spec.ts
  packages/machine/test/unit/ethereum/setup.spec.ts
Labels: code quality, 📦 Contracts

#368 [dapp-high-roller] Clean up tsconfig.json
  packages/dapp-high-roller/tsconfig.json
  packages/playground/tsconfig.json
Labels: code quality, 📦 DappHighRoller

#390 [monorepo] regenerate yarn.lock
  yarn.lock
Labels: ⚙️ monorepo

#321 [playground] Implements account and network tunnels for state
  packages/playground/__mocks__/@stencil/state-tunnel.tsx
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-edit/account-edit.tsx
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/layout/layout-header/header-content/header-content.tsx
  packages/playground/src/components/widgets/widget-connection/widget-connection.e2e.ts
  packages/playground/src/components/widgets/widget-connection/widget-connection.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/network.tsx
  packages/playground/tsconfig.json
Labels: 📦 Playground

#391 [playground] Fixes "commonTypes" pre-render error
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/index.html
Labels: 📦 Playground

#379 [cf.js] Remove all usage of cf.js/legacy
  packages/cf.js/src/index.ts
  packages/cf.js/src/legacy/app-instance.ts
  packages/cf.js/src/legacy/app/index.ts
  packages/cf.js/src/legacy/channel.ts
  packages/cf.js/src/legacy/eth-balance-refund-app.ts
  packages/cf.js/src/legacy/index.ts
  packages/cf.js/src/legacy/mixins/apply.ts
  packages/cf.js/src/legacy/mixins/observable.ts
  packages/cf.js/src/legacy/node/index.ts
  packages/cf.js/src/legacy/types.ts
  packages/cf.js/src/legacy/utils/free-balance.ts
  packages/cf.js/src/legacy/utils/index.ts
  packages/cf.js/src/legacy/utils/nonce.ts
  packages/cf.js/src/legacy/utils/peer-balance.ts
  packages/cf.js/src/legacy/utils/serializer.ts
  packages/cf.js/test/legacy/app-instance.spec.ts
  packages/node/src/models.ts
Labels: code quality, 📦 cf.js

#283 [dapp-high-roller] High Roller Smart Contract
  packages/apps/contracts/CommitRevealApp.sol
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/package.json
  packages/apps/test/highRollerApp.spec.ts
  packages/types/src/app-instance.ts
  packages/types/src/index.ts
Labels: 📦 Contracts, 📦 DappHighRoller

#400 [machine] Add noImplicitAny to machine package
  packages/machine/package.json
  packages/machine/src/instruction-executor.ts
  packages/machine/src/middleware.ts
  packages/machine/src/models/state-channel.ts
  packages/machine/src/protocol/index.ts
  packages/machine/src/types.ts
  packages/machine/test/integration/install-then-set-state.spec.ts
  packages/machine/test/integration/setup-then-set-state.spec.ts
  packages/machine/tsconfig.json
  packages/typescript-typings/types/truffle/index.d.ts
  yarn.lock
Labels: code quality, 📦 Machine

#399 Add noImplicitAny to tsconfigs that already comply
  packages/apps/tsconfig.json
  packages/node-provider/rollup.config.js
  packages/node-provider/test/unit/node-provider.spec.ts
  packages/node-provider/test/utils/message-api-mocks.ts
  packages/node-provider/tsconfig.json
  yarn.lock
Labels: code quality

#406 [playground] Integrates Metamask account
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/web3-connector/web3-connector.tsx
  packages/playground/src/components/widgets/widget-connection/widget-connection.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/network.tsx
  packages/playground/src/index.html
Labels: 📦 Playground
