Repository counterfactual/monorepo, pull requests merged in 2018-11, with the labels that each got.

#152 Updates issue numbers across the codebase after repo migration
  packages/machine/src/action.ts
  packages/machine/src/middleware/cf-operation/cf-multisend-op.ts
  packages/machine/src/middleware/cf-operation/cf-op-generator.ts
  packages/machine/src/middleware/cf-operation/types.ts
  packages/machine/src/middleware/middleware.ts
  packages/machine/src/middleware/state-transition/install-proposer.ts
  packages/machine/src/types.ts
  packages/machine/src/utils/network-context.ts
  packages/machine/src/utils/signature.ts
  packages/machine/src/vm.ts
  packages/machine/test/integration/cf-operations.spec.ts
  packages/machine/test/integration/lifecycle.spec.ts
  packages/machine/test/integration/resume-protocols.spec.ts
  packages/machine/test/integration/test-commitment-store.ts
  packages/machine/test/integration/test-io-provider.ts
  packages/machine/test/integration/test-response-sink.ts
  packages/machine/test/integration/test-setup.ts
  packages/machine/test/unit/write-ahead-log.spec.ts
Labels: Priority: High, Type: Maintenance

#166 [contracts] Remove local test networks file on yarn clean
  packages/contracts/package.json
Labels: Package: Contracts

#161 [playground] Adds initial scaffolding for @counterfactual/playground
  packages/playground/.gitignore
  packages/playground/README.md
  packages/playground/package.json
  packages/playground/src/.gitkeep
  packages/playground/src/index.ts
  packages/playground/test/.gitkeep
  packages/playground/test/index.spec.ts
  packages/playground/tsconfig.json
  packages/playground/tslint.json
  yarn.lock
Labels: Package: Playground

#167 Migrate CfOpSetup to not use Multisend but instead Multisig.execTransaction
  packages/machine/src/middleware/cf-operation/cf-multisend-op.ts
  packages/machine/src/middleware/cf-operation/cf-op-setup.ts
  packages/machine/src/middleware/cf-operation/multisig-tx-op.ts
  packages/machine/test/integration/cf-operations.spec.ts
  packages/machine/test/unit/cf-operations.spec.ts
Labels: Package: Machine

#181 [cf.js] Adds stoppable iteration for Client.removeObserver()
  packages/cf.js/src/client.ts
Labels: Package: CF.js, Type: Enhancement

#182 [cf.js] Implements Cf.requestId() with UUID
  packages/cf.js/package.json
  packages/cf.js/src/client.ts
  yarn.lock
Labels: Package: CF.js, Type: Enhancement

#183 [machine] Polishes instantiation of VM and removes if-wrapping around sendResponse()
  packages/machine/src/vm.ts
Labels: Package: Machine, Type: Enhancement

#180 [monorepo] Drop "cf" prefix
  packages/cf.js/src/app-instance-client.ts
  packages/cf.js/src/app/index.ts
  packages/cf.js/src/channel.ts
  packages/cf.js/src/node/index.ts
  packages/cf.js/src/utils/free-balance.ts
  packages/cf.js/src/utils/index.ts
  packages/cf.js/src/utils/nonce.ts
  packages/iframe-wallet-poc/iframe-wallet/index.js
  packages/iframe-wallet-poc/src/iframe/user.ts
  packages/iframe-wallet-poc/src/iframe/wallet.ts
  packages/iframe-wallet-poc/test/commitment-store.spec.ts
  packages/iframe-wallet-poc/test/common.ts
  packages/iframe-wallet-poc/test/wallet-test.spec.ts
  packages/machine/src/action.ts
  packages/machine/src/index.ts
  packages/machine/src/instruction-executor.ts
  packages/machine/src/middleware/cf-operation/cf-multisend-op.ts
  packages/machine/src/middleware/cf-operation/cf-op-generator.ts
  packages/machine/src/middleware/cf-operation/cf-op-install.ts
  packages/machine/src/middleware/cf-operation/cf-op-setstate.ts
  packages/machine/src/middleware/cf-operation/cf-op-setup.ts
  packages/machine/src/middleware/cf-operation/cf-op-uninstall.ts
  packages/machine/src/middleware/cf-operation/index.ts
  packages/machine/src/middleware/cf-operation/multisig-tx-op.ts
  packages/machine/src/middleware/middleware.ts
  packages/machine/src/middleware/state-transition/install-proposer.ts
  packages/machine/src/middleware/state-transition/setup-proposer.ts
  packages/machine/src/middleware/state-transition/state-transition.ts
  packages/machine/src/middleware/state-transition/uninstall-proposer.ts
  packages/machine/src/middleware/state-transition/update-proposer.ts
  packages/machine/src/node-state.ts
  packages/machine/src/types.ts
  packages/machine/src/write-ahead-log.ts
  packages/machine/test/integration/cf-operations.spec.ts
  packages/machine/test/integration/lifecycle.spec.ts
  packages/machine/test/integration/resume-protocols.spec.ts
  packages/machine/test/integration/test-commitment-store.ts
  packages/machine/test/integration/test-io-provider.ts
  packages/machine/test/integration/test-response-sink.ts
  packages/machine/test/integration/test-setup.ts
  packages/machine/test/unit/cf-operations.spec.ts
  packages/machine/test/unit/state-transition.spec.ts
  packages/machine/test/unit/write-ahead-log.spec.ts
Labels: Status: Review Needed, Type: Maintenance

#171 [machine] More unit tests for protocol commitments
  packages/cf.js/src/utils/peer-balance.ts
  packages/cf.js/src/utils/signature.ts
  packages/iframe-wallet-poc/test/commitment-store.spec.ts
  packages/machine/test/integration/resume-protocols.spec.ts
  packages/machine/test/unit/cf-operations/set-state.spec.ts
  packages/machine/test/unit/cf-operations/setup.spec.ts
  packages/machine/test/unit/cf-operations/test-data.ts
  yarn.lock
Labels: Package: Machine

#198 [contracts] Contract existence check
  packages/contracts/contracts/Registry.sol
  packages/contracts/contracts/lib/Signatures.sol
Labels: Package: Contracts, Type: Enhancement

#200 [machine][cf.js] Misc cleanup
  packages/cf.js/src/app/index.ts
  packages/cf.js/src/index.ts
  packages/cf.js/src/network.ts
  packages/cf.js/src/utils/free-balance.ts
  packages/cf.js/src/utils/index.ts
  packages/iframe-wallet-poc/src/commitmentStore.ts
  packages/iframe-wallet-poc/src/iframe/ioProvider.ts
  packages/iframe-wallet-poc/src/iframe/user.ts
  packages/iframe-wallet-poc/src/iframe/wallet.ts
  packages/iframe-wallet-poc/test/common.ts
  packages/machine/src/action.ts
  packages/machine/src/instruction-executor.ts
  packages/machine/src/middleware/middleware.ts
  packages/machine/src/middleware/protocol-operation/common.ts
  packages/machine/src/middleware/protocol-operation/multi-send-op.ts
  packages/machine/src/middleware/protocol-operation/op-generator.ts
  packages/machine/src/middleware/protocol-operation/op-install.ts
  packages/machine/src/middleware/protocol-operation/op-set-state.ts
  packages/machine/src/middleware/protocol-operation/op-setup.ts
  packages/machine/src/middleware/protocol-operation/op-uninstall.ts
  packages/machine/src/middleware/protocol-operation/types.ts
  packages/machine/src/middleware/state-transition/install-proposer.ts
  packages/machine/src/middleware/state-transition/state-transition.ts
  packages/machine/src/middleware/state-transition/uninstall-proposer.ts
  packages/machine/src/middleware/state-transition/update-proposer.ts
  packages/machine/src/node-state.ts
  packages/machine/src/types.ts
  packages/machine/src/write-ahead-log.ts
  packages/machine/test/integration/cf-operations.spec.ts
  packages/machine/test/integration/lifecycle.spec.ts
  packages/machine/test/integration/resume-protocols.spec.ts
  packages/machine/test/integration/test-commitment-store.ts
  packages/machine/test/integration/test-io-provider.ts
  packages/machine/test/integration/test-response-sink.ts
  packages/machine/test/integration/test-setup.ts
  packages/machine/test/unit/cf-operations.spec.ts
  packages/machine/test/unit/cf-operations/test-data.ts
  packages/machine/test/unit/state-transition.spec.ts
  packages/machine/test/utils/common.ts
  yarn.lock
Labels: Package: CF.js, Package: Machine, Type: Maintenance

#195 [playground] Adds initial Stencil-based scaffolding
  .circleci/config.yml
  packages/playground/.gitignore
  packages/playground/README.md
  packages/playground/e2e/navigation.e2e.ts
  packages/playground/package.json
  packages/playground/src/assets/icon/favicon.ico
  packages/playground/src/assets/icon/icon.png
  packages/playground/src/components/app-home/app-home.css
  packages/playground/src/components/app-home/app-home.e2e.ts
  packages/playground/src/components/app-home/app-home.spec.ts
  packages/playground/src/components/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.css
  packages/playground/src/components/app-root/app-root.e2e.ts
  packages/playground/src/components/app-root/app-root.spec.ts
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/global/app.css
  packages/playground/src/index.html
  packages/playground/src/manifest.json
  packages/playground/stencil.config.ts
  packages/playground/tsconfig.json
  yarn.lock
Labels: Package: Playground, Status: Review Needed

#197 [contracts] Migrate to Rinkeby
  .circleci/config.yml
  packages/contracts/.env.example
  packages/contracts/.gitignore
  packages/contracts/README.md
  packages/contracts/networks/4.json
  packages/contracts/package.json
  packages/contracts/truffle.js
  yarn.lock
Labels: Package: Contracts, Status: Review Needed, Type: Enhancement

#209 [monorepo] Update caching key
  .circleci/config.yml
Labels: Type: Maintenance

#214 [machine] Unit test for Install protocol operation
  packages/machine/package.json
  packages/machine/test/unit/cf-operations/fixture.ts
  packages/machine/test/unit/cf-operations/install.spec.ts
  packages/machine/test/unit/cf-operations/set-state.spec.ts
  packages/machine/test/unit/cf-operations/setup.spec.ts
  packages/machine/test/unit/cf-operations/test-data.ts
Labels: Package: Machine

#222 [contracts] Update migrate documentation step
  .circleci/config.yml
  README.md
  packages/contracts/README.md
  packages/contracts/package.json
Labels: Package: Contracts, Type: Bug

#224 [machine] NodeState rename
  packages/iframe-wallet-poc/iframe-wallet/index.js
  packages/iframe-wallet-poc/src/iframe/wallet.ts
  packages/iframe-wallet-poc/test/commitment-store.spec.ts
  packages/iframe-wallet-poc/test/common.ts
  packages/iframe-wallet-poc/test/wallet-test.spec.ts
  packages/machine/src/index.ts
  packages/machine/src/instruction-executor.ts
  packages/machine/src/middleware/middleware.ts
  packages/machine/src/middleware/protocol-operation/op-generator.ts
  packages/machine/src/middleware/state-transition/install-proposer.ts
  packages/machine/src/middleware/state-transition/setup-proposer.ts
  packages/machine/src/middleware/state-transition/state-transition.ts
  packages/machine/src/middleware/state-transition/uninstall-proposer.ts
  packages/machine/src/middleware/state-transition/update-proposer.ts
  packages/machine/src/node.ts
  packages/machine/src/types.ts
  packages/machine/test/integration/cf-operations.spec.ts
  packages/machine/test/integration/lifecycle.spec.ts
  packages/machine/test/integration/resume-protocols.spec.ts
  packages/machine/test/integration/test-setup.ts
  packages/machine/test/unit/state-transition.spec.ts
Labels: Package: Machine, Type: Maintenance

#225 [cf.js][wallet] get the iife build working correctly again
  packages/cf.js/rollup.config.js
  packages/cf.js/src/legacy/client.ts
  packages/iframe-wallet-poc/iframe-wallet/index.html
Labels: Package: CF.js, Type: Bug

#230 [playground] Adds support for Netlify
  netlify.toml
  packages/playground/.nvmrc
Labels: Package: Playground, Type: Enhancement

#231 [node-provider] Adds initial scaffolding for Node Provider package
  packages/node-provider/.gitignore
  packages/node-provider/package.json
  packages/node-provider/src/index.ts
  packages/node-provider/src/node-provider.ts
  packages/node-provider/test/integration/.gitkeep
  packages/node-provider/test/unit/node-provider.spec.ts
  packages/node-provider/tsconfig.json
  packages/node-provider/tslint.json
  tslint.json
Labels: Package: NodeProvider, Type: Feature

#239 [playground] Add linting to playground and scripts
  packages/playground/package.json
  packages/playground/src/components/app-home/app-home.tsx
  packages/playground/tslint.json
Labels: Package: Playground, Type: Enhancement

#226 [machine] replace `Context::results` array by an explicitly keyed `intermediateResults` object
  packages/iframe-wallet-poc/src/commitmentStore.ts
  packages/iframe-wallet-poc/src/iframe/ioProvider.ts
  packages/iframe-wallet-poc/src/iframe/user.ts
  packages/machine/src/action.ts
  packages/machine/src/instruction-executor.ts
  packages/machine/src/middleware/middleware.ts
  packages/machine/src/middleware/protocol-operation/op-generator.ts
  packages/machine/src/middleware/state-transition/install-proposer.ts
  packages/machine/src/middleware/state-transition/state-transition.ts
  packages/machine/src/write-ahead-log.ts
  packages/machine/test/integration/resume-protocols.spec.ts
  packages/machine/test/integration/test-commitment-store.ts
  packages/machine/test/integration/test-io-provider.ts
  packages/machine/test/integration/test-response-sink.ts
  packages/machine/test/integration/test-setup.ts
  packages/machine/test/unit/write-ahead-log.spec.ts
Labels: Package: Machine

#242 [dapp-high-roller] Create initial boilerplate High Roller dApp
  packages/dapp-high-roller/.gitignore
  packages/dapp-high-roller/README.md
  packages/dapp-high-roller/e2e/navigation.e2e.ts
  packages/dapp-high-roller/package.json
  packages/dapp-high-roller/src/assets/icon/favicon.ico
  packages/dapp-high-roller/src/assets/icon/icon.png
  packages/dapp-high-roller/src/components/app-home/app-home.css
  packages/dapp-high-roller/src/components/app-home/app-home.e2e.ts
  packages/dapp-high-roller/src/components/app-home/app-home.spec.ts
  packages/dapp-high-roller/src/components/app-home/app-home.tsx
  packages/dapp-high-roller/src/components/app-profile/app-profile.css
  packages/dapp-high-roller/src/components/app-profile/app-profile.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.css
  packages/dapp-high-roller/src/components/app-root/app-root.e2e.ts
  packages/dapp-high-roller/src/components/app-root/app-root.spec.ts
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/global/app.css
  packages/dapp-high-roller/src/index.html
  packages/dapp-high-roller/src/manifest.json
  packages/dapp-high-roller/stencil.config.ts
  packages/dapp-high-roller/tsconfig.json
  packages/dapp-high-roller/tslint.json
Labels: Package: DappHighRoller

#233 [CFjs] Scaffolding + Client: getAppInstances()
  packages/cf.js/API_REFERENCE.md
  packages/cf.js/package.json
  packages/cf.js/src/app-factory.ts
  packages/cf.js/src/app-instance.ts
  packages/cf.js/src/index.ts
  packages/cf.js/src/provider.ts
  packages/cf.js/src/simple-types.ts
  packages/cf.js/src/structs.ts
  packages/cf.js/src/types.ts
  packages/cf.js/test/provider.spec.ts
  packages/node-provider/package.json
  packages/node-provider/rollup.config.js
  packages/node-provider/src/index.ts
  packages/node-provider/src/node-provider.ts
  packages/node-provider/src/types.ts
  yarn.lock
Labels: Package: CF.js

#247 machine test harness cleanup
  packages/machine/test/integration/test-io-provider.ts
  packages/machine/test/integration/test-response-sink.ts
Labels: Package: Machine, Status: Revision Needed, Type: Maintenance

#277 [playground] add apps-list and apps-list-item components
  packages/playground/src/assets/icon/high-roller.svg
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/apps-list-item/apps-list-item.css
  packages/playground/src/components/apps-list-item/apps-list-item.e2e.ts
  packages/playground/src/components/apps-list-item/apps-list-item.spec.ts
  packages/playground/src/components/apps-list-item/apps-list-item.tsx
  packages/playground/src/components/apps-list/apps-list.css
  packages/playground/src/components/apps-list/apps-list.e2e.ts
  packages/playground/src/components/apps-list/apps-list.spec.ts
  packages/playground/src/components/apps-list/apps-list.tsx
  packages/playground/src/global/app.css
  packages/playground/src/types.ts
Labels: Package: Playground

#273 [node-provider] Implements basic API
  packages/node-provider/package.json
  packages/node-provider/rollup.config.js
  packages/node-provider/src/node-provider.ts
  packages/node-provider/test/unit/node-provider.spec.ts
  packages/node-provider/test/utils/message-api-mocks.ts
Labels: Package: NodeProvider

#272 [machine] create `lifecycle/` folder
  packages/cf.js/src/legacy/utils/index.ts
  packages/machine/test/integration/cf-operations.spec.ts
  packages/machine/test/integration/lifecycle.spec.ts
  packages/machine/test/integration/lifecycle/depositor.ts
  packages/machine/test/integration/lifecycle/lifecycle.spec.ts
  packages/machine/test/integration/lifecycle/setup-protocol.ts
  packages/machine/test/integration/lifecycle/tic-tac-toe-simulator.ts
Labels: Package: Machine

#279 [playground] Moves usage of apps-list to app-home route
  packages/playground/src/components/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/apps-list-item/apps-list-item.tsx
  packages/playground/src/components/apps-list/apps-list.tsx
Labels: Package: Playground

#278 [playground] Adds dapp-container component
  packages/playground/package.json
  packages/playground/src/components/dapp-container/dapp-container.e2e.ts
  packages/playground/src/components/dapp-container/dapp-container.spec.ts
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: Package: Playground

#285 [playground] Added support for opening a dApp
  packages/playground/package.json
  packages/playground/src/components/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/apps-list-item/apps-list-item.tsx
  packages/playground/src/components/apps-list/apps-list.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/types.ts
  packages/playground/src/utils/app-list.ts
Labels: Package: Playground

#286 [playground] add multiple apps lists
  packages/playground/package.json
  packages/playground/src/components/app-home/app-home.scss
  packages/playground/src/components/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.scss
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/apps-list-item/apps-list-item.css
  packages/playground/src/components/apps-list-item/apps-list-item.e2e.ts
  packages/playground/src/components/apps-list-item/apps-list-item.scss
  packages/playground/src/components/apps-list-item/apps-list-item.tsx
  packages/playground/src/components/apps-list/apps-list.scss
  packages/playground/src/components/apps-list/apps-list.tsx
  packages/playground/src/global/app.css
  packages/playground/src/global/box-sizing.scss
  packages/playground/src/global/reset.scss
  packages/playground/src/global/typography.scss
  packages/playground/src/global/variables.scss
  packages/playground/src/types.ts
  packages/playground/stencil.config.ts
  yarn.lock
Labels: Package: Playground

#292 [playground] Fixes IFRAME rendering to make cf-node-provider:* messages work
  packages/playground/src/components/dapp-container/dapp-container.scss
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: Package: Playground

#293 add connected state
  packages/playground/src/components/app-connection/app-connection.e2e.ts
  packages/playground/src/components/app-connection/app-connection.scss
  packages/playground/src/components/app-connection/app-connection.tsx
Labels: Package: Playground
