Repository counterfactual/monorepo, pull requests merged in 2019-03, with the labels that each got.

#888 Fix minor issues
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/app-root/app-root.tsx
  yarn.lock
Labels: 🐞 Bug, 📦 Playground, 🧬 Code Quality

#889 Bump node version
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
Labels: 📡 npm related

#892 [dapp-high-roller] [dapp-tic-tac-toe] Allows more precise decimals in the dApps' wager screens
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
Labels: 🐞 Bug, 👨‍🎨 UI improvements, 📦 DappHighRoller, 📦 DappTicTacToe

#893 [playground] Implements Account Editing UI
  packages/playground-server/src/db.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground/src/components/account/account-edit/account-edit.tsx
  packages/playground/src/components/account/account-register/account-register.scss
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/global/_typography.scss
  packages/playground/src/types.ts
Labels: 👨‍🎨 UI improvements, 📦 Playground, 🛑 Requirement

#903 Fix bug in autoLogin
  packages/playground/src/data/playground-api-client.ts
Labels: 🐞 Bug, 📦 Playground, 📦 PlaygroundServer

#895 Publish to npm if versions are bumped in source code
  .circleci/config.yml
  .gitignore
  greenkeeper.json
  lerna.json
  package.json
  packages/apps/package.json
  packages/cf.js/package.json
  packages/contracts/package.json
  packages/dapp-high-roller/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/types/package.json
  packages/typescript-typings/package.json
Labels: ⚙️ Monorepo, 📟 CircleCI, 📡 npm related

#902 Fix scss bug
  packages/playground/src/components/account/account-edit/account-edit.scss
  packages/playground/src/components/account/account-register/account-register.scss
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/global/_typography.scss
Labels: 🐞 Bug, 👨‍🎨 UI improvements

#904 Fix typo in script name
  .circleci/config.yml
Labels: 📡 npm related

#905 [node] Make deposits not install balance refund if node is broke
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/request-handler.ts
Labels: 🐞 Bug, 📦 Node

#910 Fix publish command
  package.json
Labels: ⚙️ Monorepo, 🐞 Bug, 📡 npm related

#911 Fix circleci config
  .circleci/config.yml
Labels: ⚙️ Monorepo, 🐞 Bug, 📟 CircleCI

#906 [dapp high roller] Remove audio
  packages/dapp-high-roller/src/components/app-game-coins/app-game-coins.tsx
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
Labels: 📦 DappHighRoller

#912 Ignore .dependencies_checksum
  .gitignore
Labels: ⚙️ Monorepo, 🐞 Bug, 📟 CircleCI

#914 Add --frozen-lockfile to yarn in CI
  .circleci/config.yml
Labels: 🐞 Bug, 📟 CircleCI, 📡 npm related

#917 [node] Fixes deposit check
  packages/node/package.json
  packages/node/src/methods/state-channel/deposit/controller.ts
  yarn.lock
Labels: 📦 Node

#913 [node] Add beforeExecution and afterExecution to Node
  packages/node/src/methods/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
Labels: 👨‍🎨 UI improvements, 📦 Node

#919 [playground] Adds widget-dev-flags component to monitor `playground:*` dev flags
  packages/playground/src/components/layout/layout-header/header-content/header-content.tsx
  packages/playground/src/components/widgets/widget-dev-flags/widget-dev-flags.scss
  packages/playground/src/components/widgets/widget-dev-flags/widget-dev-flags.tsx
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.scss
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#923 [playground] Prevents the user from playing any dApps until the state channel has been collateralized
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/app-home/app-home/app-home.scss
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-home/apps-list-item/apps-list-item.tsx
  packages/playground/src/components/app-home/apps-list/apps-list.scss
  packages/playground/src/components/app-home/apps-list/apps-list.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/widgets/widget-spinner/widget-spinner.scss
  packages/playground/src/components/widgets/widget-spinner/widget-spinner.tsx
  packages/playground/src/data/app-registry.tsx
  packages/playground/src/data/wallet.tsx
Labels: 📦 Playground, 🛑 Requirement

#925 [playground] Fix visibility of etherscan link
  packages/playground/src/components/widgets/widget-spinner/widget-spinner.scss
Labels: 📦 Playground

#931 [playground] Fixes multisig fetching async bug
  packages/playground/src/components/app-root/app-root.tsx
Labels: 🐞 Bug, 📦 Playground

#933 [playground] Redirects to / from deposit/exchange if no user is logged in
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
Labels: 📦 Playground

#934 [dapp-high-roller] [dapp-tic-tac-toe] Removes gas check on wager deposits
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
Labels: 🐞 Bug, 📦 DappHighRoller, 📦 DappTicTacToe

#935 [playground] [node] Remove calls to provider.estimateGas()
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/playground/src/components/node-listener/node-listener.tsx
Labels: 📦 Node, 📦 Playground

#932 [playground] Updates canUseApps condition to also consider counterparty's FreeBalance state
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/account.tsx
  packages/typescript-typings/types/ethers/index.d.ts
Labels: 🐞 Bug, 📦 Playground

#936 [playground] Catch undefined multisig error
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 🐞 Bug, 📦 Playground

#944 [node, machine] Use BaseProvider only inside the Node
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall.spec.ts
Labels: 📦 Machine, 📦 Node, 🧬 Code Quality

#948 Increase node provider api timeout
  packages/cf.js/src/provider.ts
Labels: 📦 NodeProvider

#946 [node] Add a block num confirmation property on request handler
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/request-handler.ts
Labels: 💎 Ethereum, 📦 Node, 🧬 Code Quality

#945 [types] Remove AppAction type
  packages/cf.js/API_REFERENCE.md
  packages/cf.js/src/app-instance.ts
  packages/cf.js/src/types/events.ts
  packages/cf.js/test/app-factory.spec.ts
  packages/cf.js/test/app-instance.spec.ts
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/data/mock-app-instance.ts
  packages/dapp-high-roller/src/data/types.ts
  packages/machine/src/models/app-instance.ts
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/types.ts
  packages/node/test/integration/utils.ts
  packages/types/src/index.ts
  packages/types/src/node-protocol.ts
  packages/types/src/node.ts
  packages/types/src/simple-types.ts
Labels: ⚙️ Monorepo, 🧬 Code Quality

#947 [node] Do a simple check on the event controller
  packages/node/src/request-handler.ts
Labels: 📦 Node, 🧬 Code Quality

#951 [ttt] Update TTT dapp
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Game.jsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/dapp-tic-tac-toe/src/components/Board.jsx
  packages/dapp-tic-tac-toe/src/index.css
Labels: 📦 DappTicTacToe

#949 [node] Add done() param to tests
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
Labels: 🐞 Bug, 📟 CircleCI, 📦 Node

#952 [machine,node] Correctly add limit field for virtual apps
  packages/machine/src/protocol/install-virtual-app.ts
  packages/node/src/models/proposed-app-instance-info.ts
Labels: 🐞 Bug, 📦 Machine, 📦 Node

#956 [playground] Matches dApps with their bots
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 📦 Playground

#957 [monorepo] Bump npm packages
  packages/apps/package.json
  packages/cf.js/package.json
  packages/contracts/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/types/package.json
Labels: 📡 npm related

#960 Fix npm issues
  .circleci/config.yml
  packages/playground-server/package.json
Labels: 🐞 Bug, 📟 CircleCI, 📡 npm related

#958 Add README listings for some other CF packages
  README.md
Labels: ⚙️ Monorepo, 📡 npm related

#962 Fix greenkeeper.json
  greenkeeper.json
Labels: greenkeeper, 🐞 Bug, 📡 npm related

#959 [playground] Adds "Log out" feature
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/data/account.tsx
Labels: 📦 Playground

#964 Miscellaneous cleanups
  packages/playground-server/.env-cmdrc
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
Labels: 🐞 Bug

#963 [playground][playground-server][apps][node][dapp-tic-tac-toe] Support Playground functionality on Kovan
  README.md
  packages/apps/networks/42.json
  packages/apps/package.json
  packages/apps/truffle-config.js
  packages/cf.js/package.json
  packages/contracts/networks/42.json
  packages/contracts/package.json
  packages/contracts/truffle-config.js
  packages/dapp-tic-tac-toe/package.json
  packages/dapp-tic-tac-toe/src/Game.jsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/machine/package.json
  packages/node/package.json
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/network-configuration.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/playground-server/package.json
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
  packages/playground-server/src/index.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground/package.json
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/node-listener/dialogs/propose-install/dialog-propose-install.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  yarn.lock
Labels: 📦 Contracts, 📦 DappTicTacToe, 📦 Node, 📦 Playground, 📦 PlaygroundServer

#965 [dapp-tic-tac-toe] Fixes TicTacToe resolve logic for winner/loser is backwards
  packages/apps/contracts/TicTacToeApp.sol
  packages/apps/test/tictactoe.spec.ts
Labels: 📦 DappTicTacToe

#966 [dapp-tic-tac-toe] Remove publish config from TTT dapp
  packages/dapp-tic-tac-toe/package.json
Labels: 📦 DappTicTacToe

#969 [apps] Update TTT deployed contract address
  packages/apps/networks/3.json
  packages/apps/truffle-config.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
Labels: 📦 DappTicTacToe

#970 [playground] Moves "Log out" action to "Account Edit" screen
  packages/playground/src/components/account/account-edit/account-edit.tsx
  packages/playground/src/components/form/form-button/form-button.scss
  packages/playground/src/components/form/form-button/form-button.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#972 [playground-server] Create user iff multisig deployment tx is successfully sent to network
  packages/playground-server/src/resources/user/processor.ts
Labels: 🐞 Bug, 📦 PlaygroundServer

#974 [ticTacToeBot] Remove package registry
  packages/tic-tac-toe-bot/package.json
Labels: 🤖TicTacToeBot

#971 [playground] Fix using multisig address for deposit
  packages/playground/src/components/app-root/app-root.tsx
Labels: 🐞 Bug, 📦 Playground

#973 [playground] Brings up the UI up to spec in mobile
  packages/playground/src/assets/icon/close.svg
  packages/playground/src/assets/icon/error.svg
  packages/playground/src/assets/icon/login.svg
  packages/playground/src/assets/icon/register.svg
  packages/playground/src/assets/icon/wallet.svg
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.scss
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-home/app-home/app-home.scss
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-home/apps-list/apps-list.scss
  packages/playground/src/components/form/form-button/form-button.scss
  packages/playground/src/components/form/form-button/form-button.tsx
  packages/playground/src/components/form/form-input/form-input.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.scss
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/layout/layout-header/header-content/header-content.scss
  packages/playground/src/components/widgets/widget-connection/widget-connection.scss
  packages/playground/src/components/widgets/widget-screen/widget-screen.scss
  packages/playground/src/components/widgets/widget-screen/widget-screen.tsx
  packages/playground/src/components/widgets/widget-spinner/widget-spinner.scss
  packages/playground/src/components/widgets/widget-spinner/widget-spinner.tsx
  packages/playground/src/global/_button.scss
Labels: 👨‍🎨 UI improvements, 📦 Playground

#982 Revert to react script 2.1.5
  packages/dapp-tic-tac-toe/package.json
  yarn.lock
Labels: 🐞 Bug

#983 [node] Handle rejected or declined deposit tx
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
Labels: 🐞 Bug, 📦 Node

#981 [playground] Make svg color whtie
  packages/playground/src/assets/icon/login.svg
  packages/playground/src/assets/icon/register.svg
Labels: 👨‍🎨 UI improvements, 📦 Playground

#984 Revert "[playground] Fix using multisig address for deposit"
  packages/playground/src/components/app-root/app-root.tsx
Labels: 🐞 Bug, 📦 Playground

#987 [TicTacToeBot] Deploy TTT bot to staging
  packages/dapp-tic-tac-toe/package.json
  packages/dapp-tic-tac-toe/src/Game.jsx
  packages/tic-tac-toe-bot/Procfile
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/scripts/postinstall.sh
  packages/tic-tac-toe-bot/src/bot.ts
  packages/tic-tac-toe-bot/src/index.ts
  packages/tic-tac-toe-bot/src/utils.ts
  packages/tic-tac-toe-bot/tsconfig.do-not-edit-merged.json
  packages/tic-tac-toe-bot/tsconfig.heroku.json
Labels: 📦 DappTicTacToe, 🤖TicTacToeBot

#995 [node] Wait 1 more block for Ropsten
  packages/node/src/request-handler.ts
Labels: 🐞 Bug, 💎 Ethereum

#999 [tttbot] Remove web3 dep
  packages/tic-tac-toe-bot/package.json
Labels: 📦 TicTacToeBot, 🧬 Code Quality

#1002 [playground] Color SVG on mobile via CSS
  packages/playground/src/assets/icon/login.svg
  packages/playground/src/assets/icon/register.svg
  packages/playground/src/components/layout/layout-header/header-account/header-account.scss
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1004 [dapp-high-roller] [playground] [playground-server] Repairs High Roller
  packages/dapp-high-roller/src/components/app-logo/app-logo.tsx
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/playground-server/src/node.ts
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 📦 DappHighRoller, 📦 Playground, 📦 PlaygroundServer

#1008 [dapp-tic-tac-toe] Requests appInstance as soon as CF components are connected
  packages/dapp-tic-tac-toe/src/App.js
Labels: 📦 DappTicTacToe

#1007 [machine] Add retry logic for fetching blockchain state on resolve
  packages/machine/package.json
  packages/machine/src/protocol/utils/get-resolution-increments.ts
  packages/node/package.json
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/request-handler.ts
  packages/playground-server/package.json
  packages/playground-server/src/node.ts
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/index.ts
Labels: 👨‍🎨 UI improvements, 📡 npm related, 📦 Machine, 📦 Node, 📦 Playground

#1010 [high roller] Fix high roller player addrs
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/machine/src/models/state-channel.ts
Labels: 🐞 Bug, 📦 DappHighRoller

#1000 [playground][playground-server][apps][node][dapp-tic-tac-toe] Support Playground functionality on Kovan (2)
  README.md
  packages/apps/networks/42.json
  packages/apps/package.json
  packages/apps/truffle-config.js
  packages/cf.js/package.json
  packages/contracts/networks/42.json
  packages/contracts/package.json
  packages/contracts/truffle-config.js
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-tic-tac-toe/package.json
  packages/dapp-tic-tac-toe/src/Game.jsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/machine/package.json
  packages/machine/src/models/state-channel.ts
  packages/node/package.json
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/network-configuration.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/playground-server/package.json
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
  packages/playground-server/src/index.ts
  packages/playground/package.json
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/node-listener/dialogs/propose-install/dialog-propose-install.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/tic-tac-toe-bot/.env-cmdrc
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/bot.ts
  packages/tic-tac-toe-bot/src/index.ts
  packages/tic-tac-toe-bot/src/utils.ts
  yarn.lock
Labels: 📦 Contracts, 📦 Node, 📦 Playground, 📦 PlaygroundServer

#1011 [playground-server] [playgruound] Refactors account creation and deposits to avoid invalid UI blockage
  packages/playground-server/src/api.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/resources/multisig-deploy/processor.ts
  packages/playground-server/src/resources/multisig-deploy/resource.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-home/apps-list/apps-list.tsx
  packages/playground/src/components/app-root/app-root.spec.ts
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/types.ts
Labels: 👨‍🎨 UI improvements, 📦 Playground, 📦 PlaygroundServer

#1016 [ticTacToeBot] Use updated multisig deployer in TTT bot
  packages/tic-tac-toe-bot/src/utils.ts
Labels: 🐞 Bug, 📦 TicTacToeBot

#1021 Add images previously filtered by gitignore
  packages/playground/www/assets/social/facebook.png
  packages/playground/www/assets/social/linkedin.png
  packages/playground/www/assets/social/twitter.png
Labels: 👨‍🎨 UI improvements

#1023 [dapp-tic-tac-toe] Rename Alice/Bob to Opponent/You in TTT
  packages/dapp-tic-tac-toe/src/App.js
Labels: 📦 DappTicTacToe

#1027 [ticTacToeBot] Bump TTT bot package version
  packages/tic-tac-toe-bot/package.json
Labels: 📦 TicTacToeBot

#1028 [circleci] Update circleci config with 2 more heroku apps
  .circleci/config.yml
Labels: 📟 CircleCI, 🚢 Heroku

#1029 [machine] Fix balance keys
  packages/machine/src/models/state-channel.ts
Labels: 🐞 Bug, 📦 Machine

#1031 [machine] Bump version
  packages/machine/package.json
  packages/node/package.json
  yarn.lock
Labels: 📦 Machine

#1030 [playground} Fixes validation for null deposit/withdrawals
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
Labels: 🐞 Bug, 📦 Playground

#1032 [playground] For post-deposit, converts pending flags @State(), so they trigger rendering
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
Labels: 🐞 Bug, 📦 Playground

#1035 [node] Add auto nonce incrmenting wallet for transactions in Node
  packages/node/src/auto-nonce-wallet.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/node.ts
Labels: 🐞 Bug, 📦 Node

#1038 [node] Avoid race condition by pushing promise await
  packages/node/src/auto-nonce-wallet.ts
Labels: 🐞 Bug, 📦 Node

#1040 [ttt] Disable moves into already filled square
  packages/dapp-tic-tac-toe/src/Game.jsx
  packages/dapp-tic-tac-toe/src/components/Square.jsx
Labels: 🐞 Bug, 👨‍🎨 UI improvements, 📦 DappTicTacToe

#1039 Remove console.log
  packages/machine/src/protocol/utils/get-resolution-increments.ts
Labels: 🧬 Code Quality

#1041 [hr] Use BigNumber.mul not * for bignumber mul
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
Labels: 🐞 Bug, 📦 DappHighRoller

#1042 [node][machine] Bumps version & introduces slightly better logging
  packages/machine/src/models/state-channel.ts
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 📦 Machine, 📦 Node

#1036 [pg] secure_url and image type for fb img
  packages/playground/src/index.html
Labels: 🐞 Bug, 👨‍🎨 UI improvements

#1043 [dapp-high-roller] Fix High Roller Winner Player Logic
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
Labels: 📦 DappHighRoller

#1045 [playground] Start polling after 24 seconds for multisig
  packages/playground/src/components/app-root/app-root.tsx
  packages/typescript-typings/types/ethers/index.d.ts
Labels: 🐞 Bug, 👨‍🎨 UI improvements, 📦 Playground

#1046 [node] Retry 3x deposit if unknown error
  packages/node/src/methods/state-channel/deposit/operation.ts
Labels: 🐞 Bug, 📦 Node

#1047 [ttt] Fix TTT logic for tying so uninstall is called
  packages/dapp-tic-tac-toe/src/Game.jsx
Labels: 🐞 Bug, 📦 DappTicTacToe

#1049 [node] Add error message on attempt to uninstall already uninstalled app
  packages/node/src/methods/app-instance/uninstall-virtual/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/errors.ts
Labels: 📦 Node, 🧬 Code Quality

#1050 [pg] Fix copy on home screen
  packages/playground/src/components/app-home/app-home/app-home.tsx
Labels: 🐞 Bug, 📦 Playground

#1053 [playground] Fix hash links for dApps if they're not yet available
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-home/apps-list-item/apps-list-item.tsx
  packages/playground/src/components/app-home/apps-list/apps-list.tsx
  packages/playground/src/components/app-root/app-root.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1051 [pg] More copy on home page
  packages/playground/src/components/app-home/app-home/app-home.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1055 [pg] Update balances on state channel update
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1059 [pg] Fix home screen css
  packages/playground/src/components/app-home/app-home/app-home.scss
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1064 [pg-server] Remove pg-server mnemonic
  packages/playground-server/.env.local
  packages/playground-server/.gitignore
Labels: 🐞 Bug, 💻 Developer Experience

#1065 [dapp-high-roller] Fix High Roller proposer always losing and UI flicker
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
Labels: 📦 DappHighRoller

#1067 [pg-s] Remove mnemonic from env-cmdrc
  packages/playground-server/.env-cmdrc
Labels: 💻 Developer Experience

#1066 [monorepo] Update yarn.lock file
  packages/high-roller-bot/package.json
  yarn.lock
Labels: ⚙️ Monorepo

#1060 [pg] Fix withdrawal state UI bug
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
Labels: 🐞 Bug, 📦 Playground

#1070 [playground-server] Update version number
  packages/playground-server/package.json
Labels: 📦 PlaygroundServer

#1072 [playground-server] Update configuration plumbing
  packages/playground-server/.env-cmdrc
  packages/playground-server/.env.schema
  packages/playground-server/src/node.ts
Labels: 📦 PlaygroundServer

#1071 [playground-server] Update PG server mnemonic setting
  packages/playground-server/.env-cmdrc
  packages/playground-server/.env.schema
  packages/playground-server/.gitignore
  packages/playground-server/README.md
  packages/playground-server/package.json
  packages/playground-server/src/index.ts
  packages/playground-server/src/node.ts
Labels: 🐞 Bug, 📦 PlaygroundServer

#1063 [playground] Modifies deposit condition
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/account.tsx
Labels: 📦 Playground

#1073 [playground] [playground-server] Implements Heartbeats API
  packages/playground-server/.env-cmdrc
  packages/playground-server/src/api.ts
  packages/playground-server/src/resources/heartbeat/processor.ts
  packages/playground-server/src/resources/heartbeat/resource.ts
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.tsx
  packages/playground/src/data/app-registry.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/types.ts
Labels: 👨‍🎨 UI improvements, 💻 Developer Experience, 📦 Playground, 📦 PlaygroundServer

#1074 [dapp-high-roller]: Forcibly restarts the game if you click "Exit"
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
Labels: 📦 DappHighRoller

#1075 bump node version
  packages/high-roller-bot/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 📡 npm related, 📦 Node

#1077 [pg] Set UI min and max deposit amounts
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
Labels: 📦 Playground

#1079 [node] Better error handling on bad deposit
  packages/machine/src/protocol/utils/get-resolution-increments.ts
  packages/node/src/node.ts
Labels: 🐞 Bug, 📦 Node

#1078 [pg] Change maintenance text
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.scss
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1080 [node] More versatile and verbose logging
  packages/high-roller-bot/package.json
  packages/high-roller-bot/src/bot.ts
  packages/node/package.json
  packages/node/src/node.ts
  packages/node/src/store.ts
  packages/playground-server/.env-cmdrc
  packages/playground-server/package.json
  packages/playground/package.json
  packages/playground/src/components/app-root/app-root.tsx
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/bot.ts
  yarn.lock
Labels: 📦 Node

#1087 [monorepo] Deploy heroku stuff after npm
  .circleci/config.yml
Labels: ⚙️ Monorepo, 📟 CircleCI, 🚢 Heroku

#1090 [node][playground-server] Better logging
  packages/high-roller-bot/package.json
  packages/node/package.json
  packages/node/src/services.ts
  packages/playground-server/package.json
  packages/playground-server/src/node.ts
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 📦 Node, 📦 PlaygroundServer

#1092 [pg] Add a feedback button
  packages/playground/src/index.html
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1093 [ttt, hr] Make waiting room time 15 seconds
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/dapp-tic-tac-toe/src/Waiting.jsx
Labels: 👨‍🎨 UI improvements, 📦 DappHighRoller, 📦 DappTicTacToe

#1094 [bots] Retry getting user on bot startup script
  packages/high-roller-bot/src/utils.ts
  packages/tic-tac-toe-bot/src/utils.ts
Labels: 🐞 Bug, 📦 HighRollerBot, 📦 TicTacToeBot, 🚢 Heroku

#1095 [playground] fix: redirect home from register if mmLocked
  packages/playground/src/components/account/account-register/account-register.tsx
Labels: 🐞 Bug, 📦 Playground

#1096 [pg-s] Add some basic logs for user activity for observation
  packages/playground-server/src/db.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/resources/multisig-deploy/processor.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground-server/src/utils.ts
Labels: 🎞 Logging, 💻 Developer Experience

#1099 [pg] Remove collateralization widget dialog
  packages/playground/src/components/app-home/apps-list-item/apps-list-item.tsx
Labels: 🐞 Bug, 👨‍🎨 UI improvements

#1098 [tttbot, hrbot] Increase time-to-wait of bots for server
  packages/high-roller-bot/src/utils.ts
  packages/tic-tac-toe-bot/src/utils.ts
Labels: 🐞 Bug, 📦 HighRollerBot, 📦 TicTacToeBot

#1102 [pg-server, pg] Adds a corrupt waller state UI and delete account button
  packages/playground-server/src/db.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/playground-api-client.ts
Labels: 👨‍🎨 UI improvements, 💻 Developer Experience

#1103 [bots] More descriptive logs
  packages/high-roller-bot/package.json
  packages/high-roller-bot/src/bot.ts
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/bot.ts
Labels: 📦 HighRollerBot, 📦 TicTacToeBot

#1104 [pg] Throw error if not specific error
  packages/playground/src/components/app-root/app-root.tsx
Labels: 🐞 Bug, 📦 Playground

#1106 Put axios in dependencies
  packages/playground-server/package.json
Labels: 🐞 Bug, 📦 PlaygroundServer

#1107 [node] Fix a few shards
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/reject-install/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall-virtual/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/app-instance/update-state/controller.ts
  packages/node/src/methods/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
Labels: 🐞 Bug, 📦 Node

#1108 [node] Remove console.log
  packages/node/src/methods/controller.ts
Labels: 🧬 Code Quality

#1109 [machine, node] Add createdAt property to StateChannel
  packages/machine/src/models/state-channel.ts
  packages/node/src/store.ts
Labels: 🐞 Bug, 📦 Machine, 📦 Node

#1111 Bump node version
  packages/high-roller-bot/package.json
  packages/machine/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
  yarn.lock
Labels: 📡 npm related

#1114 [node] Queue proposals
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
Labels: 📦 Node

#1113 [machine] Add created at in constructor calls
  packages/high-roller-bot/package.json
  packages/machine/package.json
  packages/machine/src/models/state-channel.ts
  packages/node/package.json
  packages/node/src/node.ts
  packages/playground-server/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 🐞 Bug, 📦 Machine

#1115 [pg] Add welcome message when logged in
  packages/playground/src/components/app-home/app-home/app-home.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1116 [ttt,hr] Wait 60 seconds for matchmaking
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/dapp-tic-tac-toe/src/Waiting.jsx
Labels: ⚡️ Performance, 👨‍🎨 UI improvements, 📦 HighRollerBot, 📦 TicTacToeBot

#1120 [playground] Update wallet message
  packages/playground/src/components/app-home/app-home/app-home.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1121 [playground-server] Removes logs for /apps and /heartbeats
  packages/playground-server/src/api.ts
  packages/playground-server/src/resources/app/processor.ts
Labels: 🎞 Logging, 📦 PlaygroundServer

#1123 [playground] Update links
  packages/playground/src/components/app-home/app-home/app-home.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#1100 Ignore workbox-build in greenkeeper
  greenkeeper.json
Labels: greenkeeper

#1082 [pg] Different attempt at waiting for channel creation
  packages/node/jest.config.js
  packages/node/src/events/protocol-message/controller.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/playground/src/components/app-root/app-root.tsx
Labels: DO NOT MERGE, 📦 Playground, 🧬 Code Quality

#1131 [playground-server][bots] Firebase configuration update
  packages/high-roller-bot/package.json
  packages/high-roller-bot/src/index.ts
  packages/node/package.json
  packages/node/src/services.ts
  packages/playground-server/package.json
  packages/playground-server/src/node.ts
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/index.ts
Labels: 📦 HighRollerBot, 📦 PlaygroundServer, 📦 TicTacToeBot

#1126 [playground] Setup Sentry for Playground when TIER != dev
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/index.html
Labels: 🎞 Logging, 📦 Playground

#1140 [playground-server] Update README
  packages/playground-server/.gitignore
  packages/playground-server/README.md
Labels: 💻 Developer Experience, 📖 Documentation, 📦 PlaygroundServer

#1141 Move arguments to Context
  packages/machine/src/instruction-executor.ts
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/install.ts
  packages/machine/src/protocol/setup.ts
  packages/machine/src/protocol/take-action.ts
  packages/machine/src/protocol/uninstall-virtual-app.ts
  packages/machine/src/protocol/uninstall.ts
  packages/machine/src/protocol/update.ts
  packages/machine/src/protocol/withdraw-eth.ts
  packages/machine/src/types.ts
Labels: 📦 Machine, 🧬 Code Quality

#1146 [specs] Add the specs repo as a package in monorepo
  greenkeeper.json
  packages/specs/.gitignore
  packages/specs/Makefile
  packages/specs/README.md
  packages/specs/requirements.txt
  packages/specs/source/00-introduction.md
  packages/specs/source/01-contracts.md
  packages/specs/source/02-state-machines.md
  packages/specs/source/03-peer-protocol.md
  packages/specs/source/04-setup-protocol.md
  packages/specs/source/05-install-protocol.md
  packages/specs/source/06-update-protocol.md
  packages/specs/source/07-uninstall-protocol.md
  packages/specs/source/08-cleanup-protocol.md
  packages/specs/source/09-install-virtual-app-protocol.md
  packages/specs/source/10-uninstall-virtual-app-protocol.md
  packages/specs/source/11-withdraw-protocol.md
  packages/specs/source/CONTRIBUTING.md
  packages/specs/source/GLOSSARY.md
  packages/specs/source/conf.py
  packages/specs/source/diagrams/cleanup-protocol-commitment1.mmd
  packages/specs/source/diagrams/cleanup-protocol-commitment2.mmd
  packages/specs/source/diagrams/cleanup-protocol-exchange.mmd
  packages/specs/source/diagrams/cleanup-protocol-state.mmd
  packages/specs/source/diagrams/install-protocol-commitment.mmd
  packages/specs/source/diagrams/install-protocol-exchange.mmd
  packages/specs/source/diagrams/install-protocol-state.mmd
  packages/specs/source/diagrams/install-virtual-app-exchange.mmd
  packages/specs/source/diagrams/set-root-nonce-commitment.mmd
  packages/specs/source/diagrams/setstate-protocol-commitment.mmd
  packages/specs/source/diagrams/setstate-protocol-exchange.mmd
  packages/specs/source/diagrams/setstate-protocol-state.mmd
  packages/specs/source/diagrams/setup-commitment.mmd
  packages/specs/source/diagrams/setup-protocol-exchange.mmd
  packages/specs/source/diagrams/setup-protocol-state.mmd
  packages/specs/source/diagrams/uninstall-protocol-commitment.mmd
  packages/specs/source/diagrams/uninstall-protocol-exchange.mmd
  packages/specs/source/diagrams/uninstall-protocol-state.mmd
  packages/specs/source/diagrams/uninstall-virtual-app-exchange.mmd
  packages/specs/source/diagrams/withdraw-exchange.mmd
  packages/specs/source/img/applyAction.svg
  packages/specs/source/img/resolve.svg
  packages/specs/source/img/statechannel-statuses.svg
  packages/specs/source/index.rst
Labels: ⚙️ Monorepo

#1150 [contracts] Solidity 0.5.7
  packages/apps/contracts/CommitRevealApp.sol
  packages/apps/contracts/CountingApp.sol
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/Migrations.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/PaymentApp.sol
  packages/apps/contracts/TicTacToeApp.sol
  packages/apps/package.json
  packages/apps/waffle.json
  packages/contracts/contracts/AppRegistry.sol
  packages/contracts/contracts/ContractRegistry.sol
  packages/contracts/contracts/CounterfactualApp.sol
  packages/contracts/contracts/ETHVirtualAppAgreement.sol
  packages/contracts/contracts/Migrations.sol
  packages/contracts/contracts/MultiSend.sol
  packages/contracts/contracts/NonceRegistry.sol
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/contracts/default-apps/ETHBalanceRefundApp.sol
  packages/contracts/contracts/default-apps/ETHBucket.sol
  packages/contracts/contracts/libs/LibSignature.sol
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/libs/LibStaticCall.sol
  packages/contracts/contracts/libs/Transfer.sol
  packages/contracts/contracts/mixins/MAppCaller.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinProgressChallenge.sol
  packages/contracts/contracts/mixins/MixinSetResolution.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/contracts/contracts/proxies/Proxy.sol
  packages/contracts/contracts/proxies/ProxyFactory.sol
  packages/contracts/contracts/state-deposit-holders/MinimumViableMultisig.sol
  packages/contracts/contracts/test-fixtures/AppWithAction.sol
  packages/contracts/contracts/test-fixtures/CountingAppWithAbiDecode.sol
  packages/contracts/contracts/test-fixtures/DelegateProxy.sol
  packages/contracts/contracts/test-fixtures/DolphinCoin.sol
  packages/contracts/contracts/test-fixtures/Echo.sol
  packages/contracts/contracts/test-fixtures/ExampleCondition.sol
  packages/contracts/contracts/test-fixtures/ExampleTransfer.sol
  packages/contracts/contracts/test-fixtures/ResolveToPay5WeiApp.sol
  packages/contracts/contracts/test-fixtures/TestCaller.sol
  packages/contracts/package.json
  packages/contracts/waffle.json
  packages/machine/src/ethereum/utils/multisend-decoder.ts
  yarn.lock
Labels: greenkeeper, 📦 Contracts

#1143 [playground-server] Add postgres db on playground start
  packages/playground-server/README.md
  packages/playground-server/docker-compose.yml
  packages/playground-server/package.json
  packages/playground-server/src/db.ts
  packages/playground-server/src/index.ts
  yarn.lock
Labels: 🐞 Bug, 💻 Developer Experience, 📖 Documentation, 📦 PlaygroundServer

#1171 [playground-server] Add postgres db on playground start part 2
  packages/playground-server/Dockerfile
  packages/playground-server/database/schema/playground_db.sql
  packages/playground-server/docker-compose.yml
Labels: 💻 Developer Experience, 📦 PlaygroundServer

#1198 [repo] Add CODEOWNERS
  .github/CODEOWNERS
Labels: ⚙️ Monorepo, 💻 Developer Experience

#1147 [playground-server] Optional persistence for local firebase db
  packages/playground-server/README.md
  packages/playground-server/database/schema/playground_db.sql
  packages/playground-server/src/db.ts
  packages/playground-server/src/index.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/resources/matchmaking-request/processor.ts
  packages/playground-server/src/resources/multisig-deploy/processor.ts
  packages/playground-server/test/api.spec.ts
Labels: 💻 Developer Experience, 📦 PlaygroundServer
