Repository counterfactual/monorepo, pull requests merged in 2019-02, with the labels that each got.

#651 [dapp-tic-tac-toe] Fix Tic Tac Toe test description
  packages/apps/test/tictactoe.spec.ts
Labels: 📦 DappTicTacToe

#654 [playground] Implements event-driven balance updates + unconfirmed balance UI
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/layout/layout-header/header-account-info/header-account-info.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/web3-connector/web3-connector.tsx
  packages/playground/src/components/widgets/widget-spinner/widget-spinner.scss
  packages/playground/src/components/widgets/widget-spinner/widget-spinner.tsx
  packages/playground/src/data/account.tsx
  packages/typescript-typings/types/ethers/index.d.ts
Labels: 📦 Playground, 📦 TypescriptTypings

#652 [playground] Adds timeout to API requests from the client
  packages/playground/src/data/playground-api-client.ts
Labels: 📦 Playground

#662 [dapp-high-roller] Implements REVEAL stage, improves die animation triggers
  packages/dapp-high-roller/src/components/app-game-coins/app-game-coins.tsx
  packages/dapp-high-roller/src/components/app-game-die/app-game-die.scss
  packages/dapp-high-roller/src/components/app-game-status/app-game-status.tsx
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/components/app-logo/app-logo.tsx
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/dapp-high-roller/src/utils/utils.ts
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
  packages/typescript-typings/types/ethers/index.d.ts
Labels: 📦 DappHighRoller, 📦 PlaygroundServer

#663 [monorepo] Returns non-zero exit code for yarn build
  build.sh
Labels: ⚙️ monorepo

#655 [machine] Introduce seq === -1
  packages/machine/src/protocol/install.ts
  packages/machine/src/protocol/setup.ts
  packages/machine/src/protocol/uninstall.ts
  packages/machine/src/protocol/update.ts
  packages/machine/src/protocol/utils/signature-forwarder.ts
  packages/machine/test/unit/protocol/signature-forwarder.spec.ts
  packages/node/src/events/protocol-message/controller.ts
Labels: 📦 Machine, 📦 Node

#667 [dapp-high-roller] Replace nullValueBytes32 with HashZero
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
Labels: 📦 DappHighRoller

#671 [playground-server] Re-enables and fixes all tests
  packages/playground-server/test/api.spec.ts
  packages/playground-server/test/mock-data.ts
Labels: 📦 PlaygroundServer

#672 [playground] Exposes hdnode as required by the Node IIFE
  packages/playground/src/index.html
Labels: 📦 Playground

#673 [playground] Fixes API call for current user
  packages/playground/src/data/playground-api-client.ts
Labels: 📦 Playground

#674 [playground-server] Fixes log bug for app registry
  packages/playground-server/src/resources/app/processor.ts
Labels: 📦 PlaygroundServer

#676 [dapp-high-roller] Remove unused function
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
Labels: 📦 DappHighRoller

#677 [playground-server] Fixes data payload for registry.local
  packages/playground-server/registry.local.json
  packages/playground-server/src/resources/app/processor.ts
Labels: 📦 PlaygroundServer

#678 [playground] Uses Node.publicIdentifier instead of address
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/data/counterfactual.ts
Labels: 📦 Playground

#682 Fix virtualChannelKey usage of solidityKeccak256
  packages/machine/src/virtual-app-key.ts
Labels: 🐞 bug

#683 [dapp-high-roller] [dapp-tic-tac-toe] Fixes build processes
  packages/dapp-high-roller/netlify.sh
  packages/dapp-tic-tac-toe/netlify.sh
Labels: 📦 DappHighRoller, 📦 DappTicTacToe

#690 [playground-server] [playground] [dapp-high-roller] [dapp-tic-tac-toe] Fixes signature validation, account registration and matchmaking problems
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground-server/src/api.ts
  packages/playground-server/src/middlewares/validate-signature.ts
  packages/playground-server/src/resources/app/processor.ts
  packages/playground-server/src/resources/matchmaking-request/processor.ts
  packages/playground-server/src/resources/session-request/processor.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/types.ts
Labels: 📦 DappHighRoller, 📦 DappTicTacToe, 📦 Playground, 📦 PlaygroundServer

#686 [node] Refactor node tests for better ganache/contracts handling support
  packages/node/.env.defaults
  packages/node/.env.schema
  packages/node/jest.config.js
  packages/node/package.json
  packages/node/src/services.ts
  packages/node/test/contract-deployments.jest.ts
  packages/node/test/global-setup.jest.ts
  packages/node/test/global-teardown.jest.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/node-test-environment.jest.js
  yarn.lock
Labels: 📦 Node

#693 Fix typo in test script
  packages/machine/scripts/test.sh
Labels: 🐞 bug

#698 [machine] Add get-channel-from-counterparty.ts helper fn
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/utils/get-channel-from-counterparty.ts
Labels: 📦 Machine

#699 [machine] Add Opcode.STATE_TRANSITION_COMMIT to Install Virtual App Protocol
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 📦 Machine

#701 [machine] Fix off by 1 error
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 📦 Machine

#702 [machine] Encodes virtual app unique key with string not address
  packages/machine/src/virtual-app-key.ts
Labels: 📦 Machine

#703 [machine] Replace null and empty values with correct encoded vals
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 📦 Machine

#704 [machine] Use correct machine sequence numbers for VIAP
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 📦 Machine

#709 [playground] Fix spelling mistake `attachs` -> `attaches`
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 📦 Playground

#711 [playground] [playground-server] Fixes matchmaking bug when not using `matchmakeWith` flag
  packages/playground-server/src/resources/matchmaking-request/processor.ts
  packages/playground-server/test/api.spec.ts
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/types.ts
Labels: 📦 Playground, 📦 PlaygroundServer

#715 [machine] Add error check on # of beneficiaries
  packages/machine/src/ethereum/eth-virtual-app-agreement-commitment.ts
Labels: code quality, 📦 Machine

#717 [machine] Format some code a bit
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 📦 Machine

#716 [machine] Uninstantiated virtual channel now uses correct keys
  packages/machine/src/models/state-channel.ts
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 📦 Machine

#719 [monorepo] Rename initiating and responding in proposal messages
  packages/cf.js/src/app-factory.ts
  packages/cf.js/test/app-factory.spec.ts
  packages/cf.js/test/app-instance.spec.ts
  packages/cf.js/test/fixture.ts
  packages/cf.js/test/provider.spec.ts
  packages/node/src/events/propose-install-virtual/controller.ts
  packages/node/src/events/propose-install-virtual/operation.ts
  packages/node/src/events/propose-install/operation.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/propose-install/operation.ts
  packages/node/src/methods/app-instance/reject-install-virtual/controller.ts
  packages/node/src/methods/app-instance/reject-install/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/src/types.ts
  packages/node/src/utils.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/utils.ts
  packages/types/src/data-types.ts
  packages/types/src/node-protocol.ts
Labels: code quality, 📦 Node, 📦 cf.js

#710 [playground-server] Refactors the Node usage to conform to a Singleton pattern
  packages/machine/src/types.ts
  packages/playground-server/src/index.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/resources/matchmaking-request/processor.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground-server/test/api.spec.ts
  packages/playground-server/test/global-setup.jest.ts
  packages/playground-server/test/mock-data.ts
  packages/playground-server/test/node-test-environment.jest.js
Labels: 📦 PlaygroundServer

#721 [node] Adds uninstall protocol to Node method implementation
  packages/cf.js/src/provider.ts
  packages/cf.js/test/app-instance.spec.ts
  packages/node/src/api-router.ts
  packages/node/src/events/index.ts
  packages/node/src/events/uninstall/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/app-instance/uninstall/operation.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/types/src/node-protocol.ts
  packages/types/src/node.ts
Labels: 📦 Node

#714 [playground] [node] [playground-server] Refactor UI modals for ProposeInstall / RejectInstall
  packages/dapp-high-roller/src/utils/utils.ts
  packages/node/src/node.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground-server/test/api.spec.ts
  packages/playground/package.json
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/components/layout/layout-header/layout-header/layout-header.scss
  packages/playground/src/components/node-listener/dialogs/dialog-propose-install.tsx
  packages/playground/src/components/node-listener/dialogs/dialog-reject-install.tsx
  packages/playground/src/components/node-listener/dialogs/insufficient-funds/dialog-insufficient-funds.tsx
  packages/playground/src/components/node-listener/dialogs/propose-install/dialog-propose-install.tsx
  packages/playground/src/components/node-listener/dialogs/reject-install/dialog-reject-install.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.scss
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.tsx
  packages/playground/src/components/widgets/widget-logo/widget-logo.scss
  packages/playground/src/components/widgets/widget-logo/widget-logo.tsx
  packages/playground/src/data/counterfactual.ts
  packages/playground/src/data/firebase.ts
  packages/playground/src/data/playground-api-client.ts
  packages/playground/stencil.config.ts
  yarn.lock
Labels: 📦 Node, 📦 Playground, 📦 PlaygroundServer

#726 [playground] [dapp-high-roller] [dapp-tic-tac-toe] Fixes proposeInstallVirtual call to use proposedByIdentifier & proposedToIdentifier
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/data/types.ts
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground/src/components/node-listener/dialogs/propose-install/dialog-propose-install.tsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe, 📦 Playground

#728 [playground] Removes token if login from token fails
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
Labels: 📦 Playground

#730 [playground] Fix provider syntax
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/typescript-typings/types/ethers/index.d.ts
Labels: 📦 Playground

#732 [dapp-high-roller] [dapp-tic-tac-toe] [playground] Check for minimum balance before proposing an install and before accepting an install
  packages/dapp-high-roller/src/components/app-wager/app-wager.scss
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/dapp-tic-tac-toe/src/index.css
  packages/playground/src/components/node-listener/dialogs/insufficient-funds/dialog-insufficient-funds.tsx
  packages/playground/src/components/node-listener/dialogs/propose-install/dialog-propose-install.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe, 📦 Playground

#729 [dapp-high-roller] [dapp-tic-tac-toe] Implements uninstall call in High Roller & TTT
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/data/mock-app-instance.ts
  packages/dapp-high-roller/src/data/types.ts
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Game.jsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe

#740 [playground-server] Increases Node.js HTTP timeout to 5 minutes
  packages/playground-server/src/index.ts
Labels: 📦 PlaygroundServer

#741 [playground-server] [playground] Restores API validation for account registration
  packages/playground-server/src/db.ts
  packages/playground-server/src/errors.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground/src/components/account/account-register/account-register.tsx
Labels: 📦 Playground, 📦 PlaygroundServer

#731 [node] Secure deposit
  packages/cf.js/API_REFERENCE.md
  packages/machine/src/models/state-channel.ts
  packages/machine/src/xkeys.ts
  packages/node/jest.config.js
  packages/node/src/api-router.ts
  packages/node/src/events/deposit/controller.ts
  packages/node/src/events/index.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/services.ts
  packages/node/src/types.ts
  packages/node/src/utils.ts
  packages/node/test/contract-deployments.jest.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/integration/utils.ts
  packages/node/test/node-test-environment.jest.js
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/types/src/node-protocol.ts
Labels: 📦 Node

#744 [playground] Implements "Login here" action from Account Registration
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
Labels: 📦 Playground

#749 [playground] Shows "Login Failed" message if /api/session-requests throws an error
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  yarn.lock
Labels: 📦 Playground

#751 [playground] [playground-server] Enables asynchronous registration flow (no need to wait for the multisig)
  packages/playground-server/src/db.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground-server/test/api.spec.ts
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/layout/layout-header/header-account-info/header-account-info.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/layout/layout-header/header-content/header-content.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/playground-api-client.ts
Labels: 📦 Playground, 📦 PlaygroundServer

#752 [playground] Removes network type in <widget-connection>
  packages/playground/src/components/widgets/widget-connection/widget-connection.tsx
Labels: 📦 Playground

#735 Withdraw Protocol
  packages/machine/src/enums.ts
  packages/machine/src/ethereum/index.ts
  packages/machine/src/ethereum/types.ts
  packages/machine/src/ethereum/withdraw-eth-commitment.ts
  packages/machine/src/instruction-executor.ts
  packages/machine/src/protocol/index.ts
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/withdraw-eth.ts
  packages/machine/src/types.ts
  packages/machine/test/unit/ethereum/withdraw-eth-commitment.spec.ts
  packages/node/src/api-router.ts
  packages/node/src/db-schema.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/methods/state-channel/withdraw/operation.ts
  packages/node/src/node.ts
  packages/node/src/store.ts
  packages/node/src/types.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/utils.ts
  packages/types/src/node-protocol.ts
Labels: 📦 Machine, 📦 Node

#754 [machine] Implements signature verification for InstallVirtualApp Protocol
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/utils/signature-validator.ts
Labels: 🐞 bug, 📦 Machine

#755 [dapp-high-roller] fix: Estimating gas to be done with ethAddress not nodeAddress
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
Labels: 📦 DappHighRoller

#743 [playground] [playground-server] Implements DEPOSIT call both on the Playground and the Playground Server
  packages/node/src/index.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/node/src/services.ts
  packages/playground-server/.env-cmdrc
  packages/playground-server/src/node.ts
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/index.html
  packages/types/src/node-protocol.ts
Labels: 📦 Playground, 📦 PlaygroundServer

#764 [node] Fix spelling mistake `asyncronously` -> `asynchronously`
  packages/node/src/node.ts
Labels: 📦 Node

#762 [playground] Implement metamask account checking UI
  packages/playground/src/components/account/account-exchange/account-exchange.scss
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/app-home/app-home/app-home.scss
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/form/form-button/form-button.scss
  packages/playground/src/components/form/form-input/form-input.scss
  packages/playground/src/components/layout/layout-header/header-account/header-account.scss
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/layout/layout-header/layout-header/layout-header.scss
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/playground/src/components/widgets/widget-connection/widget-connection.scss
  packages/playground/src/components/widgets/widget-connection/widget-connection.tsx
  packages/playground/src/components/widgets/widget-tooltip/widget-tooltip.scss
  packages/playground/src/data/network.tsx
  packages/playground/src/global/_button.scss
  packages/playground/src/global/_variables.scss
  yarn.lock
Labels: 📦 Playground

#769 [playground] Fix autoLogin() bug
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
Labels: 🐞 bug, 📦 Playground

#768 [playground] Adds boolean for first check of network state
  packages/playground/src/components/app-home/app-home/app-home.scss
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/playground/src/components/widgets/widget-connection/widget-connection.tsx
  packages/playground/src/data/network.tsx
Labels: 📦 Playground

#772 [node] Add gasPrice and gasLimit to tx on deposit and withdraw
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
Labels: 📦 Node

#775 Clean up things from 744
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
Labels: code quality

#779 [monorepo] Save dependencies cache w/ yarn.lock in key
  .circleci/config.yml
Labels: ⚙️ monorepo

#773 [contracts] Upgrade solidity and solc to 0.5.3
  packages/apps/contracts/CommitRevealApp.sol
  packages/apps/contracts/CountingApp.sol
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/Migrations.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/PaymentApp.sol
  packages/apps/contracts/TicTacToeApp.sol
  packages/contracts/contracts/AppRegistry.sol
  packages/contracts/contracts/ContractRegistry.sol
  packages/contracts/contracts/CounterfactualApp.sol
  packages/contracts/contracts/ETHVirtualAppAgreement.sol
  packages/contracts/contracts/Migrations.sol
  packages/contracts/contracts/MultiSend.sol
  packages/contracts/contracts/NonceRegistry.sol
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/contracts/default-apps/ETHBalanceRefundApp.sol
  packages/contracts/contracts/default-apps/ETHBucket.sol
  packages/contracts/contracts/libs/LibSignature.sol
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/libs/LibStaticCall.sol
  packages/contracts/contracts/libs/Transfer.sol
  packages/contracts/contracts/mixins/MAppCaller.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinSetResolution.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/contracts/contracts/proxies/Proxy.sol
  packages/contracts/contracts/proxies/ProxyFactory.sol
  packages/contracts/contracts/state-deposit-holders/MinimumViableMultisig.sol
  packages/contracts/contracts/test-fixtures/CountingAppWithAbiDecode.sol
  packages/contracts/contracts/test-fixtures/DelegateProxy.sol
  packages/contracts/contracts/test-fixtures/DolphinCoin.sol
  packages/contracts/contracts/test-fixtures/Echo.sol
  packages/contracts/contracts/test-fixtures/ExampleCondition.sol
  packages/contracts/contracts/test-fixtures/ExampleTransfer.sol
  packages/contracts/contracts/test-fixtures/ResolveToPay5WeiApp.sol
  packages/contracts/contracts/test-fixtures/TestCaller.sol
  packages/contracts/package.json
  packages/machine/src/ethereum/utils/multisend-decoder.ts
  yarn.lock
Labels: 💎 ethereum, 📦 Contracts

#784 [contracts] Swap view to pure in MAppCaller
  packages/contracts/contracts/mixins/MAppCaller.sol
Labels: code quality, 💎 ethereum, 📦 Contracts

#786 [machine] Grasp promise before awaiting message send
  packages/node/src/node.ts
Labels: 🐞 bug, 📦 Node

#781 [node] Fix installing multiple virtual app instances
  packages/machine/src/index.ts
  packages/node/src/events/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/errors.ts
  packages/node/src/utils.ts
  packages/node/test/integration/install-virtual.spec.ts
Labels: 🐞 bug, 📦 Node

#790 [node] Implement ioDeferral handling based on unique message, not just sender
  packages/node/src/node.ts
Labels: code quality, 📦 Node

#770 [node] Change messaging inbox structure to support multiple peers
  packages/node/src/services.ts
  packages/node/test/services/mock-messaging-service.ts
  packages/playground/src/data/firebase.ts
Labels: DO NOT MERGE, 📦 Node

#793 [monorepo] Ignored "@counterfactual/types" and "@counterfactual/node" packages in Greenkeeper
  greenkeeper.json
Labels: greenkeeper, ⚙️ monorepo

#791 Run yarn to update yarn.lock
  yarn.lock
Labels: ⚙️ monorepo

#796 [machine] Fixes solc to 0.5.3 in truffle config
  packages/machine/truffle-config.js
  yarn.lock
Labels: 🐞 bug, 📦 Machine

#771 [playground] Fix spelling `formSubmitionHandler` -> `formSubmissionHandler`
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-edit/account-edit.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
Labels: 📦 Playground

#805 [monorepo] Re-includes playground-server as part of yarn workspaces
  .circleci/config.yml
  package.json
  packages/dapp-high-roller/package.json
  packages/playground-server/src/db.ts
  yarn.lock
Labels: ⚙️ monorepo

#806 [playground-server] Adds NODE_MNEMONIC env-var
  packages/playground-server/src/index.ts
  packages/playground-server/src/node.ts
  packages/playground-server/test/api.spec.ts
Labels: 📦 PlaygroundServer

#807 [playground-server] Consumes jsonapi-ts as an NPM package
  .circleci/config.yml
  packages/playground-server/package.json
  yarn.lock
Labels: ⚙️ monorepo, 📦 PlaygroundServer

#808 [playground-server] Enables usage of .env.local
  .circleci/config.yml
  .gitignore
  package.json
  packages/playground-server/package.json
Labels: ⚙️ monorepo, 📦 PlaygroundServer

#759 [node] [playground] [playground-server] Update channel creation API
  package.json
  packages/cf.js/API_REFERENCE.md
  packages/machine/src/protocol/install.ts
  packages/node/jest.config.js
  packages/node/src/events/channel-created/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/node.ts
  packages/node/src/services.ts
  packages/node/src/types.ts
  packages/node/test/global-setup.jest.ts
  packages/node/test/global-teardown.jest.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/node.spec.ts
  packages/node/tsconfig.json
  packages/playground-server/src/db.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/resources/session-request/processor.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground-server/src/resources/user/resource.ts
  packages/playground-server/test/api.spec.ts
  packages/playground-server/tsconfig.json
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/firebase.ts
  packages/playground/src/types.ts
  packages/types/src/node-protocol.ts
  packages/typescript-typings/types/ethers/index.d.ts
  yarn.lock
Labels: 📦 Node, 📦 PlaygroundServer

#804 [node] Introduce queueing for method calls
  packages/machine/package.json
  packages/machine/src/models/state-channel.ts
  packages/machine/src/protocol/uninstall-virtual-app.ts
  packages/node/jest.config.js
  packages/node/package.json
  packages/node/rollup.config.js
  packages/node/src/api-router.ts
  packages/node/src/events/index.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/methods/app-instance/get-all/controller.ts
  packages/node/src/methods/app-instance/get-app-instance/controller.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/app-instance/get-state/controller.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/reject-install/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall-virtual/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/controller.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/proposed-app-instance/get-all/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/get-all/controller.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/node/src/services.ts
  packages/node/src/types.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/utils.ts
  packages/playground-server/.env-cmdrc
  packages/playground-server/jest.config.js
  packages/playground-server/package.json
  packages/playground-server/src/node.ts
  packages/playground/src/data/firebase.ts
  yarn.lock
Labels: 📦 Node

#765 [playground] Implements account withdrawal
  packages/playground-server/.env.local
  packages/playground-server/package.json
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/account.tsx
  yarn.lock
Labels: 📦 Playground

#818 [playground] Remove a debugger statement
  packages/playground/src/components/app-root/app-root.tsx
Labels: code quality

#817 [playground] Rename NetworkTunnel to WalletTunnel
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/playground/src/components/widgets/widget-connection/widget-connection.tsx
  packages/playground/src/data/wallet.tsx
Labels: 📦 Playground

#819 [playground] Improved icons on UI
  packages/playground/src/assets/icon/account.png
  packages/playground/src/assets/icon/cf.png
  packages/playground/src/components/layout/layout-header/header-account-info/header-account-info.scss
  packages/playground/src/components/layout/layout-header/header-account/header-account.scss
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
Labels: 📦 Playground

#821 [playground] Supports older versions of metamask
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
Labels: 🐞 bug, 📦 Playground

#820 [playground] Fix mistaken logic when web3 not found
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
Labels: 🐞 bug, 📦 Playground

#822 [playground][playground-server] Spin up local Firebase server
  packages/node/src/services.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/services/firebase-service.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/services/firebase-server.ts
  packages/playground-server/.env-cmdrc
  packages/playground-server/package.json
  packages/playground-server/src/node.ts
  packages/playground/.env-cmdrc
  packages/playground/package.json
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/firebase.ts
  packages/playground/stencil.config.ts
Labels: 📦 Playground, 📦 PlaygroundServer

#826 [playground] [node-provider] Shows error screen if LocalStorage is not available
  packages/node-provider/src/node-provider.ts
  packages/playground/src/components/app-home/app-home/app-home.scss
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-root/app-root.tsx
Labels: 📦 NodeProvider, 📦 Playground

#823 Move .once to a .on for CREATE_CHANNEL
  packages/cf.js/API_REFERENCE.md
  packages/node/src/methods/state-channel/create/controller.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground-server/test/api.spec.ts
  packages/types/src/node-protocol.ts
Labels: 🐞 bug, 📦 Node, 📦 PlaygroundServer

#829 Make tsconfig of types use esnext
  packages/types/tsconfig.json
  yarn.lock
Labels: 🐞 bug

#831 [dapp-high-roller] [dapp-tic-tac-toe] Enables non-zero ETH bets
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe

#830 [playground] Deserializes proposeInstallParams.myDeposit on acceptProposeInstall()
  packages/playground/src/components/node-listener/node-listener.tsx
Labels: 📦 Playground

#832 [playground] Missing Icons
  packages/playground/src/assets/icon/account.svg
  packages/playground/src/assets/icon/crypto.svg
Labels: 🐞 bug, 📦 Playground

#834 [monorepo] Separate jest files
  packages/cf.js/jest.config.js
  packages/cf.js/package.json
  packages/node-provider/jest.config.js
  packages/node-provider/package.json
Labels: code quality, ⚙️ monorepo

#837 Uses ES6 syntax for global jest functions
  packages/node/test/global-setup.jest.ts
  packages/node/test/global-teardown.jest.ts
  packages/playground-server/test/global-setup.jest.ts
  packages/playground-server/test/global-teardown.jest.ts
Labels: code quality

#838 [machine] Clean up @machine dependencies
  packages/machine/package.json
Labels: code quality, 📦 Machine

#839 Remove global waffle typings
  packages/machine/test/integration/eth-virtual-app-agreement-commitment.spec.ts
  packages/machine/test/integration/install-then-set-state.spec.ts
  packages/machine/test/integration/set-state.spec.ts
  packages/machine/test/integration/setup-then-set-state.spec.ts
  packages/machine/test/integration/virtual-app-set-state-commitment.spec.ts
  packages/machine/test/integration/waffle-type.ts
  packages/typescript-typings/types/ethereum-waffle/index.d.ts
Labels: code quality

#840 Add missing peer dependency
  packages/node/package.json
Labels: code quality

#835 Ignore empty block line warning
  packages/contracts/contracts/AppRegistry.sol
Labels: code quality

#842 Apply 'types' field in tsconfigs
  packages/cf.js/tsconfig.json
  packages/machine/tsconfig.json
  packages/node-provider/tsconfig.json
  packages/node/tsconfig.json
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/playground/src/data/wallet.tsx
  packages/playground/tsconfig.json
Labels: code quality

#836 Remove file accessor import from @machine
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/operation.ts
Labels: code quality

#847 Remove an echo statement we don't need
  build.sh
Labels: code quality

#841 Use same version of jest everywhere possible
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  yarn.lock
Labels: code quality

#848 Miscellaneous repo improvements to make dev env work with fresh yarn.lock
  package.json
  packages/apps/package.json
  packages/apps/tsconfig.json
  packages/apps/waffle.json
  packages/contracts/package.json
  packages/contracts/tsconfig.json
  packages/contracts/waffle.json
  packages/dapp-high-roller/package.json
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/tsconfig.json
  packages/dapp-tic-tac-toe/package.json
  packages/node-provider/package.json
  packages/playground-server/package.json
  packages/playground-server/src/errors.ts
  packages/playground-server/tsconfig.heroku.json
  packages/playground-server/tsconfig.json
  packages/playground/package.json
  packages/types/tsconfig.json
  packages/typescript-typings/package.json
  patches/@resolver-engine+imports-fs+0.3.2.patch
  tsconfig.json
  yarn.lock
Labels: code quality, 📟 circleci

#851 Remove shard on create channel tx
  packages/node/src/methods/state-channel/create/controller.ts
Labels: ⚡️ performance, 📦 Node

#856 [playground] Move provider and signer into WalletState
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/counterfactual.ts
  packages/playground/src/data/wallet.tsx
Labels: code quality, 📦 Playground

#858 [machine] Fix bigNumber issue
  packages/machine/src/models/eth-virtual-app-agreement-instance.ts
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 🐞 bug, 📦 Machine

#855 [dapp-high-roller] [dapp-tic-tac-toe] Implements bet range of 0.0 to 0.01 ETH across all games
  packages/dapp-high-roller/src/components/app-game-status/app-game-status.tsx
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground/src/components/node-listener/node-listener.tsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe

#861 Type pendingAccountFunding according to usage
  packages/playground/src/data/account.tsx
Labels: code quality, 📦 Playground

#865 [playground] Limits deposits to 1 ETH on Onboarding / Exchange
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
Labels: 📦 Playground

#862 [playground] several improvements to state management and UI
  packages/machine/src/models/state-channel.ts
  packages/node/src/api-router.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/methods/app-instance/get-my-free-balance-for/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/methods/state-channel/withdraw/operation.ts
  packages/playground/package.json
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/account/account-register/account-register.scss
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-home/apps-list-item/apps-list-item.scss
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.scss
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/webthree-connector/webthree-connector.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/counterfactual.ts
  packages/playground/src/data/wallet.tsx
  packages/playground/src/global/_button.scss
  packages/playground/src/global/_typography.scss
  packages/playground/src/global/_variables.scss
  packages/playground/src/global/app.css
  packages/types/src/node-protocol.ts
  packages/typescript-typings/types/ethers/index.d.ts
  yarn.lock
Labels: code quality, 🐞 bug, 👨‍🎨 UI improvements, 📦 Node, 📦 Playground

#870 [ttt] Check if game over correctly
  packages/dapp-tic-tac-toe/src/Game.jsx
Labels: 🐞 bug, 📦 DappTicTacToe

#868 Remove debugger;
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/app-root/app-root.tsx
Labels: code quality

#872 Fix local env for playground dev
  package.json
  packages/playground-server/src/resources/app/processor.ts
Labels: ⚙️ monorepo, 🐞 bug, 📦 DappTicTacToe, 📦 Playground

#867 [playground] First stab at a splash screen
  packages/playground/src/components/app-home/app-home/app-home.scss
  packages/playground/src/components/app-home/app-home/app-home.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#869 [machine] Fix bug causing an invalid state transition
  packages/machine/src/models/state-channel.ts
  packages/machine/src/protocol/install-virtual-app.ts
Labels: 🐞 bug, 📦 Machine

#880 Tiny changes
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground/src/components/app-root/app-root.tsx
Labels: code quality, 🐞 bug

#881 Tiny CircleCI touch ups
  .circleci/config.yml
Labels: 🧬 code quality

#882 Disable some UI on metamask popup open
  packages/playground/src/components/account/account-register/account-register.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#873 [playground] [dapp-high-roller] [dapp-tic-tac-toe] Implements dApp resumability
  packages/dapp-high-roller/src/components/app-root/app-root.scss
  packages/dapp-high-roller/src/components/app-root/app-root.spec.ts
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/RouterListener.jsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe, 📦 Playground

#884 Add missing peer dependency
  packages/node/package.json
Labels: greenkeeper

#883 Update npm information
  README.md
  packages/apps/package.json
  packages/cf.js/package.json
  packages/contracts/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/types/package.json
  packages/typescript-typings/package.json
  yarn.lock
Labels: 📡 npm related

#885 Update typescript
  package.json
  packages/cf.js/package.json
  packages/dapp-high-roller/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/types/package.json
  packages/typescript-typings/package.json
  yarn.lock
Labels: ⚙️ monorepo

#886 [monorepo]Added warning to monorepo README
  README.md
Labels: 📖 Documentation

#887 clarified explanation text to say that this is a demo on Ropsten
  packages/playground/src/components/app-home/app-home/app-home.tsx
Labels: 👨‍🎨 UI improvements, 📦 Playground

#876 Support Heroku auto-deploy
  .circleci/config.yml
  packages/apps/package.json
  packages/machine/package.json
  packages/playground-server/package.json
  packages/playground-server/scripts/postinstall.sh
  packages/playground-server/tsconfig.do-not-edit-merged.json
  packages/playground-server/tsconfig.heroku.json
  packages/playground-server/tsconfig.json
  packages/playground/package.json
  packages/typescript-typings/package.json
  yarn.lock
Labels: ⚙️ Monorepo, 📟 CircleCI, 📡 npm related
