Repository counterfactual/monorepo, pull requests merged in 2019-09, with the labels that each got.

#2316 [contracts] Redeploy ProxyFactory contract
  packages/cf-funding-protocol-contracts/manual-deploy.js
  packages/cf-funding-protocol-contracts/networks/42.json
  packages/node/package.json
  packages/simple-hub-server/package.json
Labels: 🐞 Bug, 📦 Contracts

#2341 [High Roller] Add getPlayerRolls function to HighRollerApp
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/expected-build-artifacts/HighRollerApp.json
  packages/apps/package.json
  packages/local-ganache-server/package.json
  packages/node/package.json
Labels: 📦 Contracts, 📦 DappHighRoller

#2439 [node] Fix test for listening on SETUP_FINISHED event
  packages/node/src/node.ts
  packages/node/test/integration/channel-creation.spec.ts
Labels: 🐞 Bug
