Repository counterfactual/monorepo, pull requests merged in 2019-06, with the labels that each got.

#1620 [firebase-client] Bump package to include dist
  packages/firebase-client/package.json
  packages/firebase-server/package.json
  packages/node/package.json
  packages/playground-server/package.json
Labels: 🐞 Bug

#1641 [monorepo] Update README wrt Yarn versioning
  README.md
Labels: 🐞 Bug, 📖 Documentation

#1616 [contracts] Interpreter renaming
  packages/apps/contracts/ETHUnidirectionalTransferApp.sol
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/TicTacToeApp.sol
  packages/apps/test/high-roller-app.spec.ts
  packages/contracts/contracts/TwoPartyVirtualEthAsLump.sol
  packages/contracts/contracts/interfaces/Interpreter.sol
  packages/contracts/contracts/interfaces/TwoPartyFixedOutcome.sol
  packages/contracts/contracts/interpreters/TwoPartyEthAsLump.sol
  packages/contracts/contracts/test-fixtures/AppWithAction.sol
  packages/contracts/contracts/test-fixtures/FixedTwoPartyOutcomeApp.sol
  packages/contracts/test/two-party-virtual-eth-as-lump.spec.ts
  packages/node/src/models/app-instance.ts
  packages/node/src/protocol/install.ts
  packages/node/src/protocol/utils/get-outcome-increments.ts
  packages/node/test/global-setup.jest.ts
  packages/node/test/machine/integration/two-party-virtual-eth-as-lump-commitment.spec.ts
  packages/node/test/node-test-environment.jest.js
  packages/specs/source/adjudication-layer.md
  packages/specs/source/channel-networks.md
  packages/types/src/data-types.ts
  packages/types/src/index.ts
Labels: 📦 Contracts

#1674 [node] Refactor test setup
  packages/apps/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/contracts/package.json
  packages/firebase-client/package.json
  packages/high-roller-bot/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cant-uninstall-free-balance.spec.ts
  packages/node/test/integration/channel-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/reject-install-virtual-with-postgres.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/setup.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall-with-postgres.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/services/memory-store-service.ts
  packages/playground-server/package.json
  packages/playground/package.json
  packages/postgresql-node-connector/package.json
  packages/tic-tac-toe-bot/package.json
  packages/types/package.json
  packages/types/src/node.ts
Labels: 🐢 Testing, 🧬 Code Quality

#1677 [contracts] Contract deployment after update
  packages/apps/package.json
  packages/contracts/networks/3.json
  packages/contracts/networks/4.json
  packages/contracts/networks/42.json
  packages/contracts/package.json
  packages/high-roller-bot/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 🐞 Bug

#1671 [node] ERC20 testing environment
  packages/contracts/migrations/3_deploy_contracts.js
  packages/contracts/test/check-deployed-contracts.spec.ts
  packages/node/test/contract-deployments.jest.ts
  packages/node/test/integration/erc20-creation.spec.ts
  packages/node/test/node-test-environment.jest.js
  packages/types/src/index.ts
Labels: 🐢 Testing, 📦 Node

#1714 [monorepo] Regenerate yarn lock
  yarn.lock
Labels: 🐞 Bug

#1715 [node] Extract blockchain context out of Node testing infra
  build.sh
  packages/chain/.env.defaults
  packages/chain/.gitignore
  packages/chain/README.md
  packages/chain/jest.config.js
  packages/chain/package.json
  packages/chain/rollup.config.js
  packages/chain/src/contract-deployments.jest.ts
  packages/chain/src/index.ts
  packages/chain/test/contracts-deployment.spec.ts
  packages/chain/truffle-config.js
  packages/chain/tsconfig.json
  packages/chain/tslint.json
  packages/node/package.json
  packages/node/test/global-setup.jest.ts
  packages/node/test/global-teardown.jest.ts
  packages/node/test/integration/setup.ts
  packages/node/test/node-test-environment.jest.js
  yarn.lock
Labels: 🐢 Testing, 📦 Node, 🧬 Code Quality

#1720 Make free balance field in StateChannel 1 AppInstance
  packages/node/src/methods/app-instance/get-all/controller.ts
  packages/node/src/methods/app-instance/get-all/operation.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/protocol/install-virtual-app.ts
  packages/node/src/protocol/install.ts
  packages/node/src/protocol/setup.ts
  packages/node/src/protocol/uninstall-virtual-app.ts
  packages/node/src/protocol/uninstall.ts
  packages/node/src/protocol/withdraw-eth.ts
  packages/node/src/store.ts
  packages/node/test/integration/cant-uninstall-free-balance.spec.ts
  packages/node/test/machine/integration/install-then-set-state.spec.ts
  packages/node/test/machine/integration/protocols.spec.ts
  packages/node/test/machine/integration/set-state.spec.ts
  packages/node/test/machine/integration/setup-then-set-state.spec.ts
  packages/node/test/machine/integration/two-party-virtual-eth-as-lump-commitment.spec.ts
  packages/node/test/machine/integration/virtual-app-set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/install-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/setup-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/two-party-virtual-eth-as-lump.spec.ts
  packages/node/test/machine/unit/ethereum/uninstall-commitment.spec.ts
  packages/node/test/machine/unit/models/state-channel/install.spec.ts
  packages/node/test/machine/unit/models/state-channel/setup-channel.spec.ts
  packages/node/test/machine/unit/models/state-channel/uninstall-app.spec.ts
  packages/node/test/unit/install.spec.ts
  yarn.lock
Labels: 📦 Node, 🧬 Code Quality

#1722 [node] Update node version
  packages/cf.js/API_REFERENCE.md
  packages/high-roller-bot/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 📦 Node

#1737 [types] Up version
  packages/apps/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/chain/package.json
  packages/contracts/package.json
  packages/firebase-client/package.json
  packages/high-roller-bot/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/postgresql-node-connector/package.json
  packages/tic-tac-toe-bot/package.json
  packages/types/package.json
Labels: 🐞 Bug

#1666 Proposal (w/ PR): Rename playground-server to simple-hub-server
  .circleci/config.yml
  .github/CODEOWNERS
  build.sh
  package.json
  packages/playground-server/test/test-db.sqlite
  packages/playground/README.md
  packages/playground/stencil.config.ts
  packages/postgresql-node-connector/README.md
  packages/simple-hub-server/.env-cmdrc
  packages/simple-hub-server/.env.schema
  packages/simple-hub-server/.gitignore
  packages/simple-hub-server/Dockerfile
  packages/simple-hub-server/Procfile
  packages/simple-hub-server/README.md
  packages/simple-hub-server/database/schema/playground_db.sql
  packages/simple-hub-server/docker-compose.yml
  packages/simple-hub-server/jest.config.js
  packages/simple-hub-server/package.json
  packages/simple-hub-server/registry.json
  packages/simple-hub-server/registry.local.json
  packages/simple-hub-server/scripts/heroku-postbuild.sh
  packages/simple-hub-server/scripts/postinstall.sh
  packages/simple-hub-server/src/api.ts
  packages/simple-hub-server/src/db.ts
  packages/simple-hub-server/src/errors.ts
  packages/simple-hub-server/src/index.ts
  packages/simple-hub-server/src/middlewares/validate-signature.ts
  packages/simple-hub-server/src/node.ts
  packages/simple-hub-server/src/resources/app/processor.ts
  packages/simple-hub-server/src/resources/app/resource.ts
  packages/simple-hub-server/src/resources/heartbeat/processor.ts
  packages/simple-hub-server/src/resources/heartbeat/resource.ts
  packages/simple-hub-server/src/resources/matchmaking-request/processor.ts
  packages/simple-hub-server/src/resources/matchmaking-request/resource.ts
  packages/simple-hub-server/src/resources/multisig-deploy/processor.ts
  packages/simple-hub-server/src/resources/multisig-deploy/resource.ts
  packages/simple-hub-server/src/resources/session-request/processor.ts
  packages/simple-hub-server/src/resources/session-request/resource.ts
  packages/simple-hub-server/src/resources/user/processor.ts
  packages/simple-hub-server/src/resources/user/resource.ts
  packages/simple-hub-server/src/types.ts
  packages/simple-hub-server/src/utils.ts
  packages/simple-hub-server/test/api.spec.ts
  packages/simple-hub-server/test/contract-deployments.jest.ts
  packages/simple-hub-server/test/global-setup.jest.ts
  packages/simple-hub-server/test/global-teardown.jest.ts
  packages/simple-hub-server/test/mock-data.ts
  packages/simple-hub-server/test/node-test-environment.jest.js
  packages/simple-hub-server/tsconfig.do-not-edit-merged.json
  packages/simple-hub-server/tsconfig.heroku.json
  packages/simple-hub-server/tsconfig.json
  packages/simple-hub-server/tslint.json
  packages/simple-hub-server/yarn.lock
  packages/wallet-ui/src/pages/channels/Channels.tsx
Labels: DO NOT MERGE
