Repository counterfactual/monorepo, pull requests merged in 2019-01, with the labels that each got.

#412 Rename isFinalized to isFinalizedOrHasNeverBeenSetBefore
  packages/contracts/contracts/NonceRegistry.sol
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/test/nonce-registry.spec.ts
Labels: code quality, 📦 Contracts

#413 [CFjs] Add proposeVirtualInstall and installVirtual methods to Node API spec
  packages/cf.js/API_REFERENCE.md
Labels: 📦 cf.js

#417 [node] Add NetworkContext to Node constructor
  packages/node/src/channels.ts
  packages/node/src/node.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/node.spec.ts
Labels: 📦 Node

#416 [node] Add InstructionExecutor to requests to methods
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/multisig-operations.ts
  packages/node/src/methods/request-handler.ts
  packages/node/src/node.ts
Labels: 📦 Machine, 📦 Node

#426 Add reminder to check deploy preview
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ⚙️ monorepo

#366 [contracts] Use ethlint not solium
  packages/apps/package.json
  packages/contracts/package.json
  yarn.lock
Labels: code quality

#429 Upgrade several packages with minor version bumps
  package.json
  packages/apps/package.json
  packages/contracts/package.json
  packages/dapp-high-roller/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/playground/package.json
  packages/typescript-typings/package.json
  yarn.lock
Labels: code quality, ⚙️ monorepo, 📟 circleci

#431 [contracts] Upgrade Solidity code to 0.5
  README.md
  package.json
  packages/apps/contracts/CommitRevealApp.sol
  packages/apps/contracts/CountingApp.sol
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/PaymentApp.sol
  packages/apps/contracts/TicTacToeApp.sol
  packages/apps/package.json
  packages/apps/test/high-roller-app.spec.ts
  packages/contracts/.gitignore
  packages/contracts/contracts/AppRegistry.sol
  packages/contracts/contracts/ConditionalTransaction.sol
  packages/contracts/contracts/ContractRegistry.sol
  packages/contracts/contracts/ETHVirtualAppAgreement.sol
  packages/contracts/contracts/Migrations.sol
  packages/contracts/contracts/MultiSend.sol
  packages/contracts/contracts/NonceRegistry.sol
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/contracts/default-apps/ETHBalanceRefundApp.sol
  packages/contracts/contracts/default-apps/ETHBucket.sol
  packages/contracts/contracts/libs/LibCondition.sol
  packages/contracts/contracts/libs/LibSignature.sol
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/libs/LibStaticCall.sol
  packages/contracts/contracts/libs/Transfer.sol
  packages/contracts/contracts/mixins/MAppCaller.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinSetResolution.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/proxies/Proxy.sol
  packages/contracts/contracts/proxies/ProxyFactory.sol
  packages/contracts/contracts/state-deposit-holders/MinimumViableMultisig.sol
  packages/contracts/contracts/test-fixtures/DelegateProxy.sol
  packages/contracts/contracts/test-fixtures/DolphinCoin.sol
  packages/contracts/contracts/test-fixtures/Echo.sol
  packages/contracts/contracts/test-fixtures/ExampleCondition.sol
  packages/contracts/contracts/test-fixtures/ExampleTransfer.sol
  packages/contracts/contracts/test-fixtures/ResolveToPay5WeiApp.sol
  packages/contracts/contracts/test-fixtures/TestCaller.sol
  packages/contracts/package.json
  packages/contracts/scripts/test.sh
  packages/contracts/truffle-config.js
  packages/contracts/tsconfig.json
  packages/machine/package.json
  packages/typescript-typings/package.json
  packages/typescript-typings/types/ethereum-waffle/index.d.ts
  patches/ethereum-waffle+2.0.0-beta.0.patch
  yarn.lock
Labels: 💎 ethereum, 📦 Contracts

#434 [monorepo] Update README regarding Yarn Install
  README.md
Labels: documentation

#438 Update openzeppelin-solidity to next
  packages/contracts/package.json
  yarn.lock
Labels: 📦 Contracts

#437 Update ethereum-waffle to 2.0.0-beta.3
  packages/apps/package.json
  packages/contracts/package.json
  packages/typescript-typings/package.json
  patches/.gitkeep
  patches/ethereum-waffle+2.0.0-beta.0.patch
  yarn.lock
Labels: code quality, ⚙️ monorepo

#395 [contracts] kill ganache before starting tests
  packages/contracts/scripts/test.sh
  packages/machine/scripts/test.sh
Labels: 📦 Contracts

#441 [contracts] Remove AppStateProof
  packages/contracts/contracts/libs/LibStateChannelApp.sol
Labels: code quality, 📦 Contracts

#398 [node] Use updated channel and app instance models in Node
  packages/machine/package.json
  packages/machine/rollup.config.js
  packages/machine/src/ethereum/index.ts
  packages/machine/src/ethereum/utils/index.ts
  packages/machine/src/index.ts
  packages/machine/src/models/app-instance.ts
  packages/machine/src/models/index.ts
  packages/machine/src/models/state-channel.ts
  packages/machine/src/protocol-types-tbd.ts
  packages/machine/test/unit/models/state-channel/setup-channel.spec.ts
  packages/node/package.json
  packages/node/rollup.config.js
  packages/node/src/channels.ts
  packages/node/src/db-schema.ts
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/multisig-operations.ts
  packages/node/src/models.ts
  packages/node/src/models/index.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/src/node.ts
  packages/node/src/store.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/node.spec.ts
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/data/counterfactual.ts
  packages/types/src/app-instance.ts
  packages/types/src/index.ts
  packages/types/src/node-protocol.ts
  yarn.lock
Labels: 📦 Node

#443 [CFjs] Added documentation and docgen script
  packages/cf.js/.gitignore
  packages/cf.js/package.json
  packages/cf.js/src/app-factory.ts
  packages/cf.js/src/app-instance.ts
  packages/cf.js/src/provider.ts
  yarn.lock
Labels: 📦 cf.js

#407 [playground-server] [playground] Implements account registration flow
  package.json
  packages/node/src/services.ts
  packages/playground-server/.env-cmdrc
  packages/playground-server/README.md
  packages/playground-server/netlify.toml
  packages/playground-server/package.json
  packages/playground-server/src/api.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/index.ts
  packages/playground-server/src/middleware/create-account.ts
  packages/playground-server/src/middleware/index.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test-db.sqlite
  packages/playground-server/test/api.spec.ts
  packages/playground-server/tsconfig.json
  packages/playground-server/webpack.config.js
  packages/playground/README.md
  packages/playground/package.json
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/form/form-input/form-input.scss
  packages/playground/src/components/form/form-input/form-input.tsx
  packages/playground/src/components/web3-connector/web3-connector.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/global/_variables.scss
  packages/playground/stencil.config.ts
  packages/playground/tsconfig.json
  packages/typescript-typings/types/web3/index.d.ts
  yarn.lock
Labels: ⚙️ monorepo, 📦 Node, 📦 Playground, 📦 PlaygroundServer, 📦 TypescriptTypings

#448 InstructionExecutor in Node
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/multisig-operations.ts
  packages/node/src/methods/request-handler.ts
  packages/node/src/node.ts
Labels: 📦 Machine

#451 [playground] Allows to fund a recently created multisig
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-eth-form/account-eth-form.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/form/form-input/form-input.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/index.html
  packages/typescript-typings/types/ethers/index.d.ts
  packages/typescript-typings/types/web3/index.d.ts
Labels: 📦 Playground, 📦 TypescriptTypings

#458 [playground-server] [playground] Implements Apps List API and allows dApps to execute from their deployed contexts
  packages/playground-server/registry.json
  packages/playground-server/src/api.ts
  packages/playground-server/src/middleware/get-apps.ts
  packages/playground-server/src/middleware/index.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/app-home/apps-list-item/apps-list-item.tsx
  packages/playground/src/components/app-home/apps-list/apps-list.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/data/app-registry.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/types.ts
  packages/playground/src/utils/app-list.ts
Labels: 📦 Playground, 📦 PlaygroundServer

#461 [high roller] Add newlines to tuple definition in test
  packages/apps/test/high-roller-app.spec.ts
Labels: code quality

#462 Remove some TODOs
  packages/contracts/contracts/ETHVirtualAppAgreement.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinSetResolution.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/test/eth-virtual-app-agreement.spec.ts
  packages/machine/src/ethereum/uninstall-commitment.ts
  packages/machine/test/integration/setup-then-set-state.spec.ts
  packages/machine/test/unit/models/state-channel/set-state.spec.ts
Labels: code quality, documentation

#465 [playground-server] Implements Matchmaking API
  packages/playground-server/src/api.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/middleware/create-account.ts
  packages/playground-server/src/middleware/error.ts
  packages/playground-server/src/middleware/get-apps.ts
  packages/playground-server/src/middleware/index.ts
  packages/playground-server/src/middleware/login.ts
  packages/playground-server/src/middleware/matchmake.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
Labels: 📦 PlaygroundServer

#469 [node] Remove need for tsc in Node
  packages/node/package.json
  packages/node/rollup.config.js
  packages/node/tsconfig.json
  packages/node/tsconfig.rollup.json
Labels: code quality, 📦 Node

#468 [node] Implements AppInstance getState
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/request-handler.ts
  packages/node/src/store.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/services/memory-store-service.ts
  packages/node/test/unit/getState.spec.ts
  packages/node/test/unit/install.spec.ts
  packages/node/test/unit/utils.ts
Labels: 📦 Node

#473 [dapp-tic-tac-toe] Adds "yarn netlify" task
  packages/dapp-tic-tac-toe/package.json
Labels: 📦 DappTicTacToe

#474 [playground] Adds Tic Tac Toe as a registered app
  packages/dapp-tic-tac-toe/public/images/logo-blue.svg
  packages/dapp-tic-tac-toe/public/images/logo.svg
  packages/playground-server/registry.json
  packages/playground/src/data/playground-api-client.ts
Labels: 📦 DappTicTacToe, 📦 Playground, 📦 PlaygroundServer

#475 [playground-server] [playground] Implements Login API, session token + route protection
  packages/playground-server/package.json
  packages/playground-server/src/api.ts
  packages/playground-server/src/controllers/create-account.ts
  packages/playground-server/src/controllers/get-apps.ts
  packages/playground-server/src/controllers/get-user.ts
  packages/playground-server/src/controllers/login.ts
  packages/playground-server/src/controllers/matchmake.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/middleware/authentication.ts
  packages/playground-server/src/middleware/create-account.ts
  packages/playground-server/src/middleware/error.ts
  packages/playground-server/src/middleware/index.ts
  packages/playground-server/src/middleware/login.ts
  packages/playground-server/src/middleware/matchmake.ts
  packages/playground-server/src/middleware/signature.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
  packages/playground/src/components/layout/layout-header/header-account/header-account.spec.ts
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/stencil.config.ts
  packages/playground/tsconfig.json
  yarn.lock
Labels: 📦 Playground, 📦 PlaygroundServer

#479 Kebab-case-ify some test files
  packages/contracts/test/lib-condition.spec.ts
  packages/contracts/test/static-call.spec.ts
Labels: code quality

#478 [monorepo] Add newlines to build.sh
  build.sh
Labels: code quality

#483 [contracts, machine] Remove appInterfaceHash from AppIdentity
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinSetResolution.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/test/eth-virtual-app-agreement.spec.ts
  packages/contracts/test/utils/index.ts
  packages/dapp-high-roller/src/data/types.ts
  packages/machine/src/ethereum/utils/encodings.ts
  packages/machine/src/ethereum/utils/free-balance.ts
  packages/machine/src/models/app-instance.ts
  packages/machine/test/unit/ethereum/install-commitment.spec.ts
  packages/machine/test/unit/ethereum/set-state-commitment.spec.ts
  packages/machine/test/unit/ethereum/uninstall-commitment.spec.ts
  packages/types/src/app-instance.ts
  yarn.lock
Labels: 💎 ethereum, 📦 Contracts, 📦 Machine

#480 [Documentation] Fix README files regarding yarn version and package links
  packages/cf.js/README.md
  packages/contracts/README.md
  packages/dapp-high-roller/README.md
  packages/machine/README.md
  packages/playground-server/README.md
  packages/playground/README.md
  packages/typescript-typings/README.md
Labels: documentation, ⚙️ monorepo

#487 [playground-server] Adds user data + intermediary to /api/matchmake
  packages/playground-server/src/controllers/matchmake.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
Labels: 📦 PlaygroundServer

#488 Remove MAppCaller from MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
Labels: code quality, 📦 Contracts

#489 Remove AppInterface from MAppCaller
  packages/contracts/contracts/mixins/MAppCaller.sol
  packages/contracts/contracts/mixins/MixinSetResolution.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
Labels: code quality, 📦 Contracts

#490 [dapp-tic-tac-toe] Implements /api/matchmake call + rewires ProposeInstall flow
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/dapp-tic-tac-toe/src/Waiting.jsx
Labels: 📦 DappTicTacToe

#493 [playground] Fixes Node/dApp communication
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 📦 Playground

#491 [dapp-high-roller] Rename mocked node-provider.ts to mock-node-provider.ts
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/data/mock-node-provider.ts
  packages/dapp-high-roller/src/data/types.ts
Labels: code quality, 📦 DappHighRoller

#492 [dapp-high-roller] Fix injecting history into app-provider for routing
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
Labels: 📦 DappHighRoller

#503 [node-provider] Adds debug mode and log messages
  packages/node-provider/src/node-provider.ts
Labels: 📦 NodeProvider

#500 [dapp-high-roller] Implements matchmaking logic
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/dapp-high-roller/src/data/types.ts
Labels: 📦 DappHighRoller

#501 [machine] Rename state to stateChannel for clarity
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/install.ts
  packages/machine/src/protocol/setup.ts
  packages/machine/src/protocol/uninstall.ts
  packages/machine/src/protocol/update.ts
  packages/machine/src/protocol/utils/signature-forwarder.ts
Labels: code quality

#505 [node] Create api-spec.ts
  packages/node/src/api-spec.ts
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/multisig-operations.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
Labels: code quality, 📦 Node

#495 [playground-server] Removes test-db.sqlite and re-creates schema when running tests
  packages/playground-server/.env-cmdrc
  packages/playground-server/.gitignore
  packages/playground-server/test-db.sqlite
  packages/playground-server/test/api.spec.ts
Labels: code quality, 📦 PlaygroundServer

#498 [Node] Add registerOpSignMiddleware to Node
  packages/node/src/node.ts
Labels: 📦 Node

#507 [dapp-tic-tac-toe] Fix for winning that was showing LOST state
  packages/dapp-tic-tac-toe/lib/dapp-tic-tac-toe.js
  packages/dapp-tic-tac-toe/package.json
  packages/dapp-tic-tac-toe/src/MockNodeProvider.js
Labels: 📦 DappTicTacToe

#509 [playground-server] Fixes error control affected by CORS middleware
  packages/playground-server/src/api.ts
  packages/playground-server/src/middleware/error.ts
Labels: 📦 PlaygroundServer

#510 [playground] [dapp-high-roller] [dapp-tic-tac-toe] Implements user data sharing across postMessage for dApps
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe, 📦 Playground

#511 [dapp-high-roller] [dapp-tic-tac-toe] Fixes Matchmaking API URL
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe

#512 [playground-server] [playground] Creates and sends a token upon account registration
  packages/playground-server/src/controllers/create-account.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/data/playground-api-client.ts
Labels: 📦 Playground, 📦 PlaygroundServer

#419 virtual app commitments, messages, AppRegistry changes
  packages/contracts/contracts/ETHVirtualAppAgreement.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/machine/src/ethereum/eth-virtual-app-agreement-commitment.ts
  packages/machine/src/ethereum/multisend-commitment.ts
  packages/machine/src/ethereum/set-state-commitment.ts
  packages/machine/src/ethereum/types.ts
  packages/machine/src/ethereum/utils/signature.ts
  packages/machine/src/ethereum/virtual-app-set-state-commitment.ts
  packages/machine/src/instruction-executor.ts
  packages/machine/src/models/eth-virtual-app-agreement-instance.ts
  packages/machine/src/models/index.ts
  packages/machine/src/models/state-channel.ts
  packages/machine/src/opcodes.ts
  packages/machine/src/protocol-types-tbd.ts
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/install.ts
  packages/machine/src/protocol/setup.ts
  packages/machine/src/protocol/uninstall.ts
  packages/machine/src/protocol/update.ts
  packages/machine/src/protocol/utils/signature-forwarder.ts
  packages/machine/src/types.ts
  packages/machine/test/integration/install-then-set-state.spec.ts
  packages/machine/test/integration/setup-then-set-state.spec.ts
  packages/machine/test/mocks.ts
  packages/machine/test/unit/ethereum/set-state-commitment.spec.ts
  packages/machine/test/unit/instruction-executor.spec.ts
  packages/node/src/request-handler.ts
  packages/node/test/integration/utils.ts
  packages/playground-server/src/node.ts
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/types/src/index.ts
Labels: DO NOT MERGE

#513 [playground-server] Adds logs to the server
  packages/playground-server/package.json
  packages/playground-server/src/api.ts
  packages/playground-server/src/controllers/create-account.ts
  packages/playground-server/src/controllers/get-apps.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/index.ts
  packages/playground-server/src/middleware/authentication.ts
  packages/playground-server/src/middleware/error.ts
  packages/playground-server/src/middleware/signature.ts
  packages/playground-server/test/api.spec.ts
  yarn.lock
Labels: 📦 PlaygroundServer

#514 [node] Update file structure
  packages/node/src/api-router.ts
  packages/node/src/api-spec.ts
  packages/node/src/events/install/controller.ts
  packages/node/src/events/install/operation.ts
  packages/node/src/methods/app-instance-operations.ts
  packages/node/src/methods/app-instance/get-all/controller.ts
  packages/node/src/methods/app-instance/get-all/operation.ts
  packages/node/src/methods/app-instance/get-state/controller.ts
  packages/node/src/methods/app-instance/get-state/operation.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/install-operations.ts
  packages/node/src/methods/multisig-operations.ts
  packages/node/src/methods/proposed-app-instance/get-all/controller.ts
  packages/node/src/methods/state-channel/add.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/create/instance.ts
  packages/node/src/methods/state-channel/get-all/controller.ts
  packages/node/src/request-handler.ts
  packages/node/test/unit/get-state.spec.ts
  packages/node/test/unit/install.spec.ts
Labels: code quality, 📦 Node

#506 [node] Add runInstallProtocol in install method
  packages/node/src/events/install/controller.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/node.ts
  packages/node/test/unit/install.spec.ts
  yarn.lock
Labels: 📦 Machine, 📦 Node

#525 [node] Implement proposeInstallVirtual
  packages/cf.js/API_REFERENCE.md
  packages/cf.js/test/app-instance.spec.ts
  packages/cf.js/test/provider.spec.ts
  packages/node/src/events/propose-install-virtual/controller.ts
  packages/node/src/events/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/propose-install/operation.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/src/utils.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/utils.ts
  packages/types/src/data-types.ts
  packages/types/src/node-protocol.ts
Labels: 📦 Node

#521 [node] Define Node message payload types & extend Node events
  packages/cf.js/API_REFERENCE.md
  packages/cf.js/test/app-instance.spec.ts
  packages/cf.js/test/provider.spec.ts
  packages/node/src/api-router.ts
  packages/node/src/events/index.ts
  packages/node/src/events/install/controller.ts
  packages/node/src/events/multisig-created/controller.ts
  packages/node/src/events/propose-install-virtual/controller.ts
  packages/node/src/events/propose-install-virtual/operation.ts
  packages/node/src/events/propose-install/controller.ts
  packages/node/src/events/propose-install/operation.ts
  packages/node/src/index.ts
  packages/node/src/methods/app-instance/get-all/controller.ts
  packages/node/src/methods/app-instance/get-state/controller.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/propose-install/operation.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/proposed-app-instance/get-all/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/get-all/controller.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/node/src/types.ts
  packages/node/src/utils.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/utils.ts
  packages/types/src/data-types.ts
  packages/types/src/node-protocol.ts
Labels: 📦 Node

#526 Greenkeeper/default/ethereum waffle 2.0.0 beta.10
  packages/apps/package.json
  packages/contracts/package.json
  packages/typescript-typings/package.json
Labels: code quality, greenkeeper

#528 [playground-server] [playground] Prevents users from signing up with an already-used usernames
  packages/playground-server/src/db.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
  packages/playground/src/components/account/account-register/account-register.tsx
Labels: 📦 Playground, 📦 PlaygroundServer

#522 [dapp-high-roller] Show User and Opponent from State in AppGame
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/dapp-high-roller/stencil.config.ts
  packages/dapp-high-roller/test-setup.js
  packages/playground-server/registry.local.json
  yarn.lock
Labels: 📦 DappHighRoller

#542 [dapp-high-roller] Add initialState to proposeInstall in app-wager
  packages/dapp-high-roller/src/components/app-game-die/app-game-die.tsx
  packages/dapp-high-roller/src/components/app-game-player/app-game-player.tsx
  packages/dapp-high-roller/src/components/app-game-status/app-game-status.tsx
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/data/game-types.ts
  packages/dapp-high-roller/src/enums/enums.ts
  yarn.lock
Labels: code quality, 📦 DappHighRoller

#365 [contracts] ethereum-waffle testing
  packages/cf.js/rollup.config.js
  packages/contracts/package.json
  packages/contracts/scripts/test.sh
  packages/contracts/test/app-registry-new.spec.ts
  packages/contracts/test/app-registry.spec.ts
  packages/contracts/test/constants.ts
  packages/contracts/test/contract-registry.spec.ts
  packages/contracts/test/eth-virtual-app-agreement.spec.ts
  packages/contracts/test/nonce-registry.spec.ts
  packages/contracts/test/static-call.spec.ts
  packages/contracts/test/transfer.spec.ts
  packages/contracts/tsconfig.json
  packages/contracts/waffle.json
  packages/machine/src/ethereum/eth-virtual-app-agreement-commitment.ts
  packages/machine/src/ethereum/install-commitment.ts
  packages/machine/src/ethereum/multisend-commitment.ts
  packages/machine/src/ethereum/multisig-commitment.ts
  packages/machine/src/ethereum/set-state-commitment.ts
  packages/machine/src/ethereum/setup-commitment.ts
  packages/machine/src/ethereum/uninstall-commitment.ts
  packages/machine/src/ethereum/virtual-app-set-state-commitment.ts
  packages/machine/test/integration/install-then-set-state.spec.ts
  packages/machine/test/integration/setup-then-set-state.spec.ts
  packages/machine/test/unit/ethereum/install-commitment.spec.ts
  packages/machine/test/unit/ethereum/set-state-commitment.spec.ts
  packages/machine/test/unit/ethereum/setup-commitment.spec.ts
  packages/machine/test/unit/ethereum/uninstall-commitment.spec.ts
  packages/machine/truffle-config.js
  packages/typescript-typings/types/ethereum-waffle/index.d.ts
  packages/typescript-typings/types/solc/index.d.ts
  packages/typescript-typings/types/truffle/index.d.ts
  yarn.lock
Labels: code quality, 📦 Contracts

#546 [monorepo] Remove unknown rollup options
  packages/node-provider/rollup.config.js
  packages/node/rollup.config.js
Labels: code quality, ⚙️ monorepo

#547 [node] Miscellaneous code cleanup
  packages/machine/src/models/state-channel.ts
  packages/node/src/events/index.ts
  packages/node/src/events/multisig-created/controller.ts
  packages/node/src/events/propose-install-virtual/operation.ts
  packages/node/src/events/propose-install/operation.ts
  packages/node/src/methods/app-instance/get-all/controller.ts
  packages/node/src/methods/app-instance/get-all/operation.ts
  packages/node/src/methods/app-instance/get-state/controller.ts
  packages/node/src/methods/app-instance/get-state/operation.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/propose-install/operation.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/create/instance.ts
  packages/node/src/methods/state-channel/get-all/controller.ts
  packages/node/src/store.ts
  packages/types/src/data-types.ts
Labels: code quality, 📦 Node

#550 [node] Small additions to Node to add a wrapped ProtocolMessage type
  packages/node/src/api-router.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/node.ts
  packages/node/src/types.ts
Labels: 📦 Node

#534 [playground-server] [playground] Implements JSONAPI-compliant requests/responses for the API
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/data/counterfactual.tsx
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground-server/package.json
  packages/playground-server/registry.json
  packages/playground-server/src/api.ts
  packages/playground-server/src/controllers/apps.ts
  packages/playground-server/src/controllers/controller.ts
  packages/playground-server/src/controllers/create-account.ts
  packages/playground-server/src/controllers/decorators/authorize.ts
  packages/playground-server/src/controllers/decorators/decorator.ts
  packages/playground-server/src/controllers/decorators/validate-signature.ts
  packages/playground-server/src/controllers/get-apps.ts
  packages/playground-server/src/controllers/get-user.ts
  packages/playground-server/src/controllers/login.ts
  packages/playground-server/src/controllers/matchmake.ts
  packages/playground-server/src/controllers/matchmaking.ts
  packages/playground-server/src/controllers/session.ts
  packages/playground-server/src/controllers/users.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/middleware/authentication.ts
  packages/playground-server/src/middleware/error.ts
  packages/playground-server/src/middleware/signature.ts
  packages/playground-server/src/node.ts
  packages/playground-server/src/router.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
  packages/playground-server/tsconfig.json
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-edit/account-edit.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/components/web3-connector/web3-connector.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/types.ts
  yarn.lock
Labels: 📦 DappHighRoller, 📦 DappTicTacToe, 📦 Playground, 📦 PlaygroundServer

#551 [node] Replace state transitions in Node to occur inside machine
  packages/machine/src/protocol/utils/signature-validator.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/create/instance.ts
  packages/node/src/node.ts
  packages/node/src/store.ts
  packages/node/test/unit/install.spec.ts
Labels: 📦 Node

#545 [playground-server] Uses Node's address to call proposeInstallVirtual
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/playground-server/src/controllers/matchmaking.ts
  packages/playground-server/src/controllers/users.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
  packages/playground-server/test/mock-data.ts
  packages/playground/src/components/account/account-edit/account-edit.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/account/account-register/account-register.spec.ts
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.scss
  packages/playground/src/components/widgets/widget-dialog/widget-dialog.tsx
  packages/playground/src/data/firebase.ts
  packages/playground/src/types.ts
  yarn.lock
Labels: 📦 DappHighRoller, 📦 Playground, 📦 PlaygroundServer

#554 [playground-server] Refactors signature transport method to use "Authorization" headers
  packages/playground-server/src/controllers/decorators/validate-signature.ts
  packages/playground-server/src/types.ts
  packages/playground-server/test/api.spec.ts
  packages/playground-server/test/mock-data.ts
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/data/playground-api-client.ts
Labels: 📦 Playground, 📦 PlaygroundServer

#548 [node] Implements AppInstance takeAction
  packages/machine/src/models/app-instance.ts
  packages/node/package.json
  packages/node/src/api-router.ts
  packages/node/src/events/index.ts
  packages/node/src/events/propose-install-virtual/controller.ts
  packages/node/src/events/propose-install-virtual/operation.ts
  packages/node/src/events/propose-install/operation.ts
  packages/node/src/events/take-action/controller.ts
  packages/node/src/methods/app-instance/get-state/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/propose-install/operation.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/take-action/operation.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/index.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/node/src/store.ts
  packages/node/src/types.ts
  packages/node/src/utils.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/get-state.spec.ts
  packages/node/test/unit/node.spec.ts
  packages/node/test/unit/utils.ts
  packages/node/tsconfig.json
  packages/playground-server/src/node.ts
  packages/playground/src/data/counterfactual.ts
  packages/types/src/node-protocol.ts
  yarn.lock
Labels: 📦 Node

#552 [node] Initial implementation of IO_SEND
  packages/machine/src/protocol/setup.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/node.ts
Labels: 📦 Node

#557 [node] Implements installVirtual
  packages/node/src/api-router.ts
  packages/node/src/events/index.ts
  packages/node/src/events/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/index.ts
  packages/node/src/types.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/utils.ts
Labels: 📦 Node

#558 [node] Implements rejectInstall
  packages/node/src/api-router.ts
  packages/node/src/events/index.ts
  packages/node/src/events/reject-install/controller.ts
  packages/node/src/methods/app-instance/reject-install/controller.ts
  packages/node/src/methods/index.ts
  packages/node/src/store.ts
  packages/node/src/types.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/utils.ts
Labels: 📦 Node

#560 [dapp-high-roller] Add opponent name to waiting screen
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/dapp-high-roller/src/data/mock-node-provider.ts
Labels: 📦 DappHighRoller

#561 [node] Reverts firebase@5.8.0 to firebase@5.7.1
  packages/node/package.json
  yarn.lock
Labels: 📦 Node, 📦 Playground

#571 [node] [node-provider] Fixes CF.js version
  packages/node-provider/package.json
  packages/node/package.json
Labels: 📦 Node, 📦 NodeProvider

#569 [cf.js] fix: repository link for cf.js
  packages/cf.js/package.json
Labels: documentation, 📦 cf.js

#572 [dapp-tic-tac-toe] Replaces cuid with uuid
  packages/dapp-tic-tac-toe/public/index.html
Labels: 📦 DappTicTacToe

#573 [cf.js] Remove unneeded contracts dependency
  packages/cf.js/package.json
Labels: 📦 cf.js

#567 [node, machine] Deep machine integration into the Node (including IO_SEND, IO_WAIT)
  packages/apps/tslint.json
  packages/machine/src/models/state-channel.ts
  packages/machine/src/protocol/install.ts
  packages/machine/src/protocol/setup.ts
  packages/machine/src/protocol/utils/signature-forwarder.ts
  packages/machine/src/protocol/utils/signature-validator.ts
  packages/machine/test/integration/install-then-set-state.spec.ts
  packages/machine/test/integration/setup-then-set-state.spec.ts
  packages/machine/test/unit/ethereum/install-commitment.spec.ts
  packages/machine/test/unit/ethereum/setup-commitment.spec.ts
  packages/machine/test/unit/ethereum/uninstall-commitment.spec.ts
  packages/machine/test/unit/models/state-channel/install.spec.ts
  packages/machine/test/unit/models/state-channel/set-state.spec.ts
  packages/machine/test/unit/models/state-channel/setup-channel.spec.ts
  packages/machine/test/unit/models/state-channel/uninstall-app.spec.ts
  packages/machine/test/unit/protocol/signature-validator.spec.ts
  packages/node/src/deferred.ts
  packages/node/src/events/install/controller.ts
  packages/node/src/events/multisig-created/controller.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/node.ts
  packages/node/src/services.ts
  packages/node/src/store.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/services/mock-messaging-service.ts
  packages/node/test/unit/install.spec.ts
  packages/node/tsconfig.json
  packages/playground-server/src/controllers/decorators/validate-signature.ts
  packages/playground-server/src/node.ts
  packages/playground-server/test/api.spec.ts
  packages/playground-server/test/mock-data.ts
  packages/playground/src/data/firebase.ts
  yarn.lock
Labels: 📦 Machine, 📦 Node, 📦 PlaygroundServer

#581 [cfjs] Adds eventemitter3 to cf.js dist
  packages/cf.js/package.json
  packages/cf.js/rollup.config.js
  yarn.lock
Labels: 📦 cf.js

#582 [machine, node] Change IO_WAIT to IO_SEND_AND_WAIT
  packages/machine/src/middleware.ts
  packages/machine/src/opcodes.ts
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/install.ts
  packages/machine/src/protocol/setup.ts
  packages/machine/src/protocol/uninstall.ts
  packages/machine/src/protocol/update.ts
  packages/machine/src/protocol/utils/inbox-validator.ts
  packages/machine/src/protocol/utils/signature-forwarder.ts
  packages/machine/test/unit/instruction-executor.spec.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/node.ts
Labels: 📦 Machine

#584 [apps] Upgrade apps to use CounterfactualApp
  packages/apps/contracts/CommitRevealApp.sol
  packages/apps/contracts/CountingApp.sol
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/PaymentApp.sol
  packages/apps/contracts/TicTacToeApp.sol
  packages/apps/test/high-roller-app.spec.ts
  packages/apps/test/nim.spec.ts
  packages/apps/test/payment.spec.ts
  packages/apps/test/tictactoe.spec.ts
  packages/node/src/methods/app-instance/take-action/operation.ts
  yarn.lock
Labels: 💎 ethereum, 📦 DappHighRoller, 📦 DappTicTacToe

#586 Rename AppState type to SolidityABIEncoderV2Struct
  packages/apps/test/high-roller-app.spec.ts
  packages/apps/test/nim.spec.ts
  packages/apps/test/payment.spec.ts
  packages/apps/test/tictactoe.spec.ts
  packages/cf.js/src/app-factory.ts
  packages/cf.js/src/app-instance.ts
  packages/cf.js/src/types/events.ts
  packages/dapp-high-roller/src/data/mock-app-instance.ts
  packages/dapp-high-roller/src/data/types.ts
  packages/machine/src/ethereum/virtual-app-set-state-commitment.ts
  packages/machine/src/models/app-instance.ts
  packages/machine/src/models/state-channel.ts
  packages/machine/src/protocol-types-tbd.ts
  packages/node/src/methods/app-instance/get-state/operation.ts
  packages/node/src/methods/app-instance/take-action/operation.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/src/store.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/utils.ts
  packages/types/src/index.ts
  packages/types/src/node-protocol.ts
  packages/types/src/node.ts
  packages/types/src/simple-types.ts
Labels: code quality, ⚙️ monorepo

#588 [dapp-high-roller] Revert back original order in getTurnTaker ternary
  packages/apps/contracts/HighRollerApp.sol
Labels: 📦 DappHighRoller

#589 Move STATE_TRANSITION_COMMIT to Node
  packages/machine/src/enums.ts
  packages/machine/src/index.ts
  packages/machine/src/instruction-executor.ts
  packages/machine/src/middleware.ts
  packages/machine/src/models/app-instance.ts
  packages/machine/src/protocol-types-tbd.ts
  packages/machine/src/protocol/index.ts
  packages/machine/src/protocol/install-virtual-app.ts
  packages/machine/src/protocol/install.ts
  packages/machine/src/protocol/setup.ts
  packages/machine/src/protocol/uninstall.ts
  packages/machine/src/protocol/update.ts
  packages/machine/src/protocol/utils/signature-forwarder.ts
  packages/machine/src/types.ts
  packages/machine/test/unit/instruction-executor.spec.ts
  packages/machine/test/unit/protocol/signature-forwarder.spec.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
Labels: code quality, 📦 Node

#593 [node] Syncs cf.js and Node message formats
  packages/node/src/events/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/reject-install-virtual/controller.ts
  packages/node/src/methods/app-instance/reject-install/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/node.ts
  packages/node/src/types.ts
  packages/types/src/node-protocol.ts
Labels: 📦 Node

#594 Fix a doc
  packages/machine/src/enums.ts
Labels: code quality

#601 [node] Implements getAppInstanceDetails
  packages/node/src/api-router.ts
  packages/node/src/methods/app-instance/get-app-instance/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/index.ts
  packages/node/src/store.ts
  packages/node/test/integration/get-app-instance.spec.ts
Labels: 📦 Node

#600 [node] Simplify event handler for INSTALL & de-couple store method
  packages/node/src/events/install/controller.ts
  packages/node/src/methods/app-instance/get-state/operation.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/take-action/operation.ts
  packages/node/src/methods/errors.ts
  packages/node/src/store.ts
Labels: code quality, 📦 Node

#609 [dapp-high-roller] Fix spelling mistake
  packages/apps/contracts/HighRollerApp.sol
Labels: documentation, 📦 DappHighRoller

#610 [dapp-high-roller] Assert that numbers passed in by players in HighRoller are not 0
  packages/apps/contracts/HighRollerApp.sol
Labels: 📦 DappHighRoller

#612 [node] Remove takeActionEvent in favor of the existing updateStateEvent
  packages/node/src/api-router.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/types.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
Labels: 📦 Node

#615 [apps] Make apps instance of CounterfactualApp
  packages/apps/contracts/CountingApp.sol
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/TicTacToeApp.sol
Labels: 📦 Contracts

#619 [node] Fix data being sent out for state update
  packages/cf.js/API_REFERENCE.md
  packages/cf.js/src/provider.ts
  packages/node/src/events/take-action/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/types.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
Labels: 🐞 bug, 📦 Node

#576 [dapp-tic-tac-toe] Integrates CF/Node components to make the game playable
  packages/cf.js/src/provider.ts
  packages/cf.js/src/types/events.ts
  packages/dapp-tic-tac-toe/public/index.html
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/App.test.js
  packages/dapp-tic-tac-toe/src/Game.jsx
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/dapp-tic-tac-toe/src/Welcome.jsx
  packages/dapp-tic-tac-toe/src/components/Square.jsx
  packages/dapp-tic-tac-toe/src/utils/check-end-conditions.js
  packages/node-provider/package.json
  packages/node/package.json
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
  packages/playground/package.json
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/dapp-container/dapp-container.spec.ts
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/components/node-listener/dialogs/dialog-insufficient-funds.tsx
  packages/playground/src/components/node-listener/dialogs/dialog-propose-install.tsx
  packages/playground/src/components/node-listener/dialogs/dialog-reject-install.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/data/firebase.ts
  packages/types/src/node-protocol.ts
  yarn.lock
Labels: 📦 DappTicTacToe, 📦 Node, 📦 Playground, 📦 cf.js

#630 yarn upgrade to the @types deps
  packages/contracts/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  yarn.lock
Labels: greenkeeper

#625 [node] Better error message for channel non-existence
  packages/node/src/utils.ts
Labels: 📦 Node

#627 Change openzeppelin-solidity to fixed version
  packages/contracts/package.json
  yarn.lock
Labels: code quality, greenkeeper

#633 [playground] [dapp-tic-tac-toe] Updates logos, hides "Running apps"
  packages/dapp-tic-tac-toe/public/images/logo.png
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
  packages/playground/src/components/app-home/app-home/app-home.tsx
  packages/playground/src/components/layout/layout-header/layout-header/layout-header.scss
  packages/playground/src/components/widgets/widget-logo/widget-logo.scss
  packages/playground/src/components/widgets/widget-logo/widget-logo.tsx
Labels: 📦 DappTicTacToe, 📦 Playground

#636 [playground] Fixes misalignment for logo in widget-screen
  packages/playground/src/components/widgets/widget-screen/widget-screen.scss
Labels: 📦 Playground

#635 [dapp-high-roller] Adds new logo
  packages/dapp-high-roller/src/assets/images/logo.png
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
Labels: 📦 DappHighRoller, 📦 PlaygroundServer

#637 [playground] Fixes header size by adjusting button/logo sizes
  packages/playground/src/components/layout/layout-header/header-account/header-account.scss
  packages/playground/src/components/widgets/widget-logo/widget-logo.scss
Labels: 📦 Playground

#638 [node] Implements uninstalling a Virtual AppInstance
  packages/node/src/api-router.ts
  packages/node/src/events/index.ts
  packages/node/src/events/uninstall/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/app-instance/uninstall/operation.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/index.ts
  packages/node/src/store.ts
  packages/node/src/types.ts
  packages/node/src/utils.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/utils.ts
Labels: 📦 Node

#639 [playground] [playground-server] [dapp-high-roller] [dapp-tic-tac-toe] Adds support for "playground:matchmakeWith" flag
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/playground-server/src/controllers/matchmaking.ts
  packages/playground-server/src/db.ts
  packages/playground-server/src/types.ts
  packages/playground/src/components/dapp-container/dapp-container.tsx
Labels: 📦 DappHighRoller, 📦 DappTicTacToe, 📦 Playground, 📦 PlaygroundServer

#632 [dapp-high-roller] Gets High Roller to a playable state
  packages/cf.js/src/provider.ts
  packages/cf.js/test/provider.spec.ts
  packages/dapp-high-roller/src/components/app-game-status/app-game-status.tsx
  packages/dapp-high-roller/src/components/app-game/app-game.tsx
  packages/dapp-high-roller/src/components/app-logo/app-logo.tsx
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
  packages/dapp-high-roller/src/data/counterfactual.tsx
  packages/dapp-high-roller/src/data/game-types.ts
  packages/dapp-high-roller/src/data/high-roller.tsx
  packages/dapp-high-roller/src/data/types.ts
  packages/playground-server/registry.json
  packages/playground-server/registry.local.json
  packages/playground/package.json
  packages/playground/src/components/account/account-deposit/account-deposit.tsx
  packages/playground/src/components/account/account-edit/account-edit.tsx
  packages/playground/src/components/account/account-exchange/account-exchange.tsx
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/components/layout/layout-header/header-account/header-account.tsx
  packages/playground/src/data/account.tsx
  packages/playground/src/data/playground-api-client.ts
  packages/playground/src/types.ts
Labels: 📦 DappHighRoller, 📦 Playground, 📦 cf.js

#642 [contracts] Add migrations for Ropsten
  packages/contracts/networks/3.json
Labels: 📦 Contracts
