Repository counterfactual/monorepo, pull requests merged in 2019-08, with the labels that each got.

#2083 [node] Remove unreasonable circular dependencies
  packages/node/rollup.config.js
  packages/node/src/constants.ts
  packages/node/src/message-handling/handle-node-message.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/propose-install/operation.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/methods/state-channel/withdraw/operation.ts
  packages/node/src/models/free-balance.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/node.ts
  packages/node/src/protocol/utils/get-outcome-increments.ts
  packages/node/src/protocol/withdraw.ts
  packages/node/src/utils.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/integration/install-then-set-state.spec.ts
  packages/node/test/machine/integration/install-virtual.spec.ts
  packages/node/test/machine/integration/protocols.spec.ts
  packages/node/test/machine/integration/protocols2.spec.ts
  packages/node/test/machine/integration/set-state.spec.ts
  packages/node/test/machine/integration/setup-then-set-state.spec.ts
  packages/node/test/machine/unit/ethereum/conditional-transaction-commitment.spec.ts
  packages/node/test/machine/unit/models/state-channel/install.spec.ts
  packages/node/test/machine/unit/models/state-channel/set-state.spec.ts
  packages/node/test/machine/unit/models/state-channel/setup-channel.spec.ts
  packages/node/test/machine/unit/models/state-channel/uninstall-app.spec.ts
  packages/node/test/unit/install.spec.ts
  packages/node/test/unit/utils.ts
Labels: 📦 Node, 🧬 Code Quality

#1906 [greenboard] Implement E2E tests
  README.md
  e2e-prepare.sh
  e2e-run.sh
  package.json
  packages/greenboard/.gitignore
  packages/greenboard/README.md
  packages/greenboard/package.json
  packages/greenboard/tests/onboarding.spec.ts
  packages/greenboard/tsconfig.json
  packages/greenboard/tslint.json
  packages/greenboard/utils/chrome-selectors.ts
  packages/greenboard/utils/counterfactual-wallet-selectors.ts
  packages/greenboard/utils/metamask-selectors.ts
  packages/greenboard/utils/test-browser.ts
  packages/greenboard/utils/types.ts
  packages/simple-hub-server/package.json
  packages/wallet-ui/package.json
  packages/wallet-ui/src/utils/hub-api-client.ts
  yarn.lock
Labels: 🐢 Testing

#2086 [greenboard] Prevents publishing @counterfactual/greenboard
  packages/greenboard/package.json
Labels: ⚙️ Monorepo, 📡 npm related

#2075 [node] Remove need for mnemonic, use extended private key
  packages/high-roller-bot/package.json
  packages/local-ganache-server/src/index.ts
  packages/local-ganache-server/test/contracts-deployment.spec.ts
  packages/node/README.md
  packages/node/package.json
  packages/node/src/constants.ts
  packages/node/src/machine/xkeys.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/signer.ts
  packages/node/test/global-setup.jest.ts
  packages/node/test/integration/setup.ts
  packages/node/test/machine/integration/install-then-set-state.spec.ts
  packages/node/test/machine/integration/install-virtual.spec.ts
  packages/node/test/machine/integration/random-signing-keys.ts
  packages/node/test/machine/integration/set-state.spec.ts
  packages/node/test/machine/integration/setup-then-set-state.spec.ts
  packages/node/test/machine/unit/ethereum/conditional-transaction-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/setup-commitment.spec.ts
  packages/node/test/machine/unit/models/state-channel/install.spec.ts
  packages/node/test/machine/unit/models/state-channel/set-state.spec.ts
  packages/node/test/machine/unit/models/state-channel/setup-channel.spec.ts
  packages/node/test/machine/unit/models/state-channel/state-channel.spec.ts
  packages/node/test/machine/unit/models/state-channel/uninstall-app.spec.ts
  packages/node/test/test-constants.jest.ts
  packages/node/test/unit/install.spec.ts
  packages/node/test/unit/utils.ts
  packages/playground/package.json
  packages/simple-hub-server/package.json
  packages/simple-hub-server/src/node.ts
  packages/simple-hub-server/test/api.spec.ts
  packages/simple-hub-server/test/global-setup.jest.ts
  packages/simple-hub-server/test/mock-data.ts
  packages/simple-hub-server/test/node-test-environment.jest.js
  packages/tic-tac-toe-bot/package.json
  tslint.json
Labels: 📦 Node, 🧬 Code Quality

#2098 [wallet-ui] Node Tokens list getter and selector
  packages/wallet-ui/src/App.tsx
  packages/wallet-ui/src/components/form/form-input/FormInput.tsx
  packages/wallet-ui/src/pages/account-deposit/AccountDeposit.tsx
  packages/wallet-ui/src/pages/account-withdraw/AccountWithdraw.tsx
  packages/wallet-ui/src/store/types.ts
  packages/wallet-ui/src/store/wallet/wallet.ts
  packages/wallet-ui/src/utils/nodeTokenClient.ts
Labels: 👨‍🎨 UI improvements, 📦 Wallet UI

#2100 [high-roller-bot] Fixes typo in .env-cmdrc
  packages/high-roller-bot/.env-cmdrc
Labels: 📦 HighRollerBot

#2099 [wallet-ui] Adds a more concise README for the package
  packages/wallet-ui/README.md
Labels: 📖 Documentation, 📦 Wallet UI

#2101 [greenboard] Adds documentation for using the package and creating new scenarios
  packages/greenboard/README.md
  packages/greenboard/tests/onboarding.spec.ts
  packages/greenboard/utils/test-browser.ts
Labels: 🐢 Testing, 📖 Documentation, 📦 Greenboard

#2126 [node] Fixes test with getting an app instance's details
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/utils.ts
Labels: 🐞 Bug, 🐢 Testing, 📦 Node

#2127 [testing] Removes usage of nvm in test:e2e:setup
  e2e-prepare.sh
Labels: 🐢 Testing

#2129 [node] Get free balances indexed by token address
  packages/apps/package.json
  packages/cf-adjudicator-contracts/package.json
  packages/cf-funding-protocol-contracts/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/firebase-client/package.json
  packages/high-roller-bot/package.json
  packages/local-ganache-server/package.json
  packages/node-provider/package.json
  packages/node/README.md
  packages/node/package.json
  packages/node/src/api.ts
  packages/node/src/methods/app-instance/get-token-indexed-free-balances/controller.ts
  packages/node/src/methods/index.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/utils.ts
  packages/playground/package.json
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/tic-tac-toe-bot/package.json
  packages/types/package.json
  packages/types/src/node.ts
Labels: Feature, 📦 Node

#2132 [node] Remove string literals in JSON RPC decorators
  packages/node/src/methods/app-instance/get-app-instance/controller.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/app-instance/get-state/controller.ts
  packages/node/src/methods/app-instance/get-token-indexed-free-balances/controller.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/reject-install/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/app-instance/update-state/controller.ts
  packages/node/src/methods/proposed-app-instance/get-all/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
Labels: 📦 Node, 🧬 Code Quality

#2131 [node] Update implementation for GetAppInstancesController controller
  packages/high-roller-bot/package.json
  packages/node/package.json
  packages/node/src/methods/app-instance/get-all/controller.ts
  packages/node/test/integration/install.spec.ts
  packages/playground/package.json
  packages/simple-hub-server/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 🐞 Bug, 📦 Node

#2145 [monorepo] Fixes CI configuration
  .circleci/config.yml
Labels: ⚙️ Monorepo, 📟 CircleCI

#2151 [node-provider] Adds NodeProviderEthereum
  packages/node-provider/package.json
  packages/node-provider/src/index.ts
  packages/node-provider/src/node-provider-ethereum.ts
  packages/node-provider/src/types.ts
  packages/node-provider/test/unit/node-provider-ethereum.spec.ts
  packages/node-provider/test/utils/ethereum-mock.ts
  packages/node-provider/tsconfig.json
  yarn.lock
Labels: 📦 NodeProvider

#2153 [cf.js] Allows usage of NodeProviderEthereum
  packages/cf.js/package.json
  packages/cf.js/src/index.ts
  yarn.lock
Labels: 📦 cf.js

#2154 [CI/CD] Remove bots from CD config
  .circleci/config.yml
Labels: Infrastructure, 🐞 Bug

#2102 [Wallet-UI] ERC20 Token Support
  packages/wallet-ui/README.md
  packages/wallet-ui/package.json
  packages/wallet-ui/src/App.tsx
  packages/wallet-ui/src/components/account/account-context/AccountContext.mock.json
  packages/wallet-ui/src/components/account/account-context/AccountContext.scss
  packages/wallet-ui/src/components/account/account-context/AccountContext.spec.tsx
  packages/wallet-ui/src/components/account/account-context/AccountContext.tsx
  packages/wallet-ui/src/components/form/form-input/FormInput.tsx
  packages/wallet-ui/src/pages/account-deposit/AccountDeposit.context.json
  packages/wallet-ui/src/pages/account-deposit/AccountDeposit.spec.tsx
  packages/wallet-ui/src/pages/account-deposit/AccountDeposit.tsx
  packages/wallet-ui/src/pages/account-withdraw/AccountWithdraw.context.json
  packages/wallet-ui/src/pages/account-withdraw/AccountWithdraw.spec.tsx
  packages/wallet-ui/src/pages/account-withdraw/AccountWithdraw.tsx
  packages/wallet-ui/src/pages/channels/Channels.context.json
  packages/wallet-ui/src/store/test-utils/ethereum.mock.ts
  packages/wallet-ui/src/store/test-utils/nodeTokenClient.ts
  packages/wallet-ui/src/store/test-utils/web3provider.mock.ts
  packages/wallet-ui/src/store/types.ts
  packages/wallet-ui/src/store/user/user.spec.ts
  packages/wallet-ui/src/store/user/user.ts
  packages/wallet-ui/src/store/wallet/wallet.mock.ts
  packages/wallet-ui/src/store/wallet/wallet.spec.ts
  packages/wallet-ui/src/store/wallet/wallet.ts
  packages/wallet-ui/src/types.ts
  packages/wallet-ui/src/utils/counterfactual.spec.ts
  packages/wallet-ui/src/utils/counterfactual.ts
  packages/wallet-ui/src/utils/nodeTokenClient.ts
  yarn.lock
Labels: 📦 Wallet UI

#2146 [node] Withdraw Commitment API
  packages/apps/package.json
  packages/cf-adjudicator-contracts/package.json
  packages/cf-funding-protocol-contracts/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/firebase-client/package.json
  packages/local-ganache-server/package.json
  packages/node-provider/package.json
  packages/node/docs/source/api.md
  packages/node/package.json
  packages/node/src/api.ts
  packages/node/src/ethereum/multisig-commitment.ts
  packages/node/src/ethereum/set-state-commitment.ts
  packages/node/src/ethereum/types.ts
  packages/node/src/machine/index.ts
  packages/node/src/machine/types.ts
  packages/node/src/methods/index.ts
  packages/node/src/methods/state-channel/withdraw-commitment/controller.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/store.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/unit/ethereum/set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/withdraw-eth-commitment.spec.ts
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/types/package.json
  packages/types/src/node.ts
  packages/types/src/simple-types.ts
Labels: Feature, 📦 Node

#2176 [Wallet-UI] Add feedback on failed login
  packages/wallet-ui/src/components/account/account-context/AccountContext.scss
  packages/wallet-ui/src/components/account/account-context/AccountContext.tsx
  packages/wallet-ui/src/components/widget/widget-tooltip/WidgetTooltip.scss
  packages/wallet-ui/src/components/widget/widget-tooltip/WidgetTooltip.tsx
Labels: 🐞 Bug, 📦 Wallet UI

#2175 [node] Update utility function names
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cant-uninstall-free-balance.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/reject-install-virtual-with-postgres.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall-with-postgres.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
Labels: 🐢 Testing, 📦 Node, 🧬 Code Quality

#2184 [node] Pretty print objects in error messages
  packages/node/package.json
  packages/node/src/api.ts
  packages/node/src/constants.ts
  packages/node/src/machine/instruction-executor.ts
  packages/node/src/machine/middleware.ts
  packages/node/src/message-handling/handle-node-message.ts
  packages/node/src/message-handling/handle-protocol-message.ts
  packages/node/src/methods/app-instance/get-app-instance/controller.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/app-instance/get-state/controller.ts
  packages/node/src/methods/app-instance/get-token-indexed-free-balances/controller.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall-virtual/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/app-instance/update-state/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw-commitment/controller.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/models/app-instance.ts
  packages/node/src/models/free-balance.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/network-configuration.ts
  packages/node/src/node.ts
  packages/node/src/protocol/index.ts
  packages/node/src/protocol/install-virtual-app.ts
  packages/node/src/protocol/install.ts
  packages/node/src/protocol/setup.ts
  packages/node/src/protocol/uninstall-virtual-app.ts
  packages/node/src/protocol/utils/get-outcome-increments.ts
  packages/node/src/protocol/utils/signature-validator.ts
  packages/node/src/request-handler.ts
  packages/node/src/rpc-router.ts
  packages/node/src/signer.ts
  packages/node/src/store.ts
  packages/node/src/utils.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/integration/message-router.ts
  packages/node/test/machine/integration/mininode.ts
  packages/node/test/unit/install.spec.ts
  packages/simple-hub-server/package.json
Labels: 📦 Node, 🧬 Code Quality

#2187 [node] Add multisig deployed bytecode check
  packages/apps/package.json
  packages/cf-adjudicator-contracts/package.json
  packages/cf-funding-protocol-contracts/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/firebase-client/package.json
  packages/local-ganache-server/package.json
  packages/node-provider/package.json
  packages/node/docs/source/api.md
  packages/node/package.json
  packages/node/src/constants.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/utils.ts
  packages/node/test/integration/utils.ts
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/types/package.json
  packages/types/src/node.ts
Labels: 📦 Node

#2186 [node] Remove `debugLog`
  packages/node/src/node.ts
  packages/node/src/store.ts
  packages/node/src/utils.ts
Labels: 📦 Node, 🧬 Code Quality

#2189 [greenboard] Fallbacks to $(which python2.7) if no PYTHON env var exists
  e2e-prepare.sh
Labels: 🐢 Testing, 💻 Developer Experience, 📦 Greenboard

#2188 [greenboard] Uses node-gyp-powered sqlite3 if no sqlite3 binary is installed in the system
  e2e-run.sh
Labels: 🐢 Testing, 💻 Developer Experience

#2190 [node] Return zero balance for token pre-deposit
  packages/node/package.json
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/models/free-balance.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/simple-hub-server/package.json
Labels: Feature, 📦 Node

#2177 Update Yarn to v1.17.3
  .circleci/config.yml
  README.md
  package.json
  packages/apps/package.json
  packages/cf-adjudicator-contracts/package.json
  packages/cf-funding-protocol-contracts/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/firebase-client/package.json
  packages/firebase-server/package.json
  packages/local-ganache-server/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/types/package.json
  packages/typescript-typings/package.json
Labels: DO NOT MERGE, ⚙️ Monorepo
