Repository counterfactual/monorepo, pull requests merged in 2019-05, with the labels that each got.

#1379 [node] Ensure consistent event emitter interface
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/playground-server/src/node.ts
Labels: 🐞 Bug, 📦 Node

#1389 [repo] Bump solidity code to 0.5.8
  package.json
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/Migrations.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/TicTacToeApp.sol
  packages/apps/package.json
  packages/contracts/contracts/AppRegistry.sol
  packages/contracts/contracts/ContractRegistry.sol
  packages/contracts/contracts/CounterfactualApp.sol
  packages/contracts/contracts/ETHVirtualAppAgreement.sol
  packages/contracts/contracts/Migrations.sol
  packages/contracts/contracts/MultiSend.sol
  packages/contracts/contracts/NonceRegistry.sol
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/contracts/default-apps/ETHBalanceRefundApp.sol
  packages/contracts/contracts/default-apps/ETHBucket.sol
  packages/contracts/contracts/libs/LibSignature.sol
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/libs/LibStaticCall.sol
  packages/contracts/contracts/libs/Transfer.sol
  packages/contracts/contracts/mixins/MAppCaller.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinProgressChallenge.sol
  packages/contracts/contracts/mixins/MixinSetResolution.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/contracts/contracts/proxies/Proxy.sol
  packages/contracts/contracts/proxies/ProxyFactory.sol
  packages/contracts/contracts/state-deposit-holders/MinimumViableMultisig.sol
  packages/contracts/contracts/test-fixtures/AppWithAction.sol
  packages/contracts/contracts/test-fixtures/DelegateProxy.sol
  packages/contracts/contracts/test-fixtures/DolphinCoin.sol
  packages/contracts/contracts/test-fixtures/Echo.sol
  packages/contracts/contracts/test-fixtures/ExampleCondition.sol
  packages/contracts/contracts/test-fixtures/ExampleTransfer.sol
  packages/contracts/contracts/test-fixtures/ResolveToPay5WeiApp.sol
  packages/contracts/contracts/test-fixtures/TestCaller.sol
  packages/contracts/package.json
  packages/contracts/waffle.js
  yarn.lock
Labels: 💎 Ethereum, 📦 Contracts

#1392 [node] Expose ETH free balance address
  packages/high-roller-bot/package.json
  packages/high-roller-bot/src/utils.ts
  packages/node/package.json
  packages/node/src/node.ts
  packages/node/src/utils.ts
  packages/playground-server/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/utils.ts
Labels: 💻 Developer Experience, 📦 Node

#1402 [node] Fix exports
  .circleci/config.yml
  packages/node/rollup.config.js
  packages/playground/src/index.html
Labels: 🐞 Bug, 📦 Node, 📦 Playground

#1394 [node] Add watch script
  .circleci/config.yml
  packages/node/package.json
Labels: 💻 Developer Experience, 📦 Node

#1415 [metamask-integration] chore(docs): First draft of MM CF DEV_GUIDE
  packages/cf-metamask-extension/README.md
Labels: 📖 Documentation

#1441 [node] Refactor uninstall test
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/tic-tac-toe.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
Labels: 📦 Node

#1443 [documentation] Add encoding string examples to the API_REFERENCE
  packages/cf.js/API_REFERENCE.md
Labels: 📖 Documentation

#1445 [node] Refactor test suite setup
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/channel-creation.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/node-communication.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/setup.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
Labels: 📦 Node

#1447 [contracts] Fix typo in MixinProgressChallenge.sol
  packages/contracts/contracts/mixins/MixinProgressChallenge.sol
Labels: 💎 Ethereum, 🧬 Code Quality

#1448 [contracts] Change validation logic for set state actions on chain
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
Labels: 🐞 Bug, 💎 Ethereum

#1464 [node] Refactor imports
  packages/node/src/events/channel-created/controller.ts
  packages/node/src/events/protocol-message/controller.ts
  packages/node/src/machine/index.ts
  packages/node/src/methods/app-instance/get-all/operation.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall/operation.ts
  packages/node/src/methods/app-instance/update-state/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/src/protocol/utils/get-channel-from-counterparty.ts
  packages/node/src/store.ts
  packages/node/src/utils.ts
  packages/node/test/contract-deployments.jest.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/integration/mininode.ts
  packages/node/test/machine/unit/ethereum/eth-virtual-app-agreement-commitment.spec.ts
  packages/node/test/node-test-environment.jest.js
  packages/node/test/unit/install.spec.ts
  packages/node/test/unit/utils.ts
Labels: 📦 Node, 🧬 Code Quality

#1465 [node] FreeBalance uninstall test
  packages/node/test/integration/cant-uninstall-free-balance.spec.ts
Labels: 📦 Node

#1446 [node] More refactoring of tests
  packages/node/src/models/state-channel.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/tic-tac-toe.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/utils.ts
Labels: 📦 Node, 🧬 Code Quality

#1472 Remove nohoist of stencil. Fixes #1178.
  package.json
Labels: ⚙️ Monorepo, 🧬 Code Quality

#1491 [node] Add uuid to protocol message object per handshake
  packages/node/src/machine/instruction-executor.ts
  packages/node/src/machine/types.ts
  packages/node/src/node.ts
Labels: 📦 Node

#1493 [contracts] Deploy new contracts
  packages/apps/package.json
  packages/contracts/networks/3.json
  packages/contracts/networks/4.json
  packages/contracts/networks/42.json
  packages/contracts/package.json
  packages/node/package.json
  yarn.lock
Labels: 📦 Contracts

#1494 [node] Fix import
  packages/node/src/node.ts
Labels: 🐞 Bug

#1500 [contracts] Deploy ETHInterpreter contract
  packages/contracts/networks/3.json
  packages/contracts/networks/4.json
  packages/contracts/networks/42.json
Labels: 📦 Contracts

#1501 [contracts] Test to check contracts are deployed as expected
  packages/contracts/test/app-registry.spec.ts
  packages/contracts/test/check-deployed-contracts.spec.ts
  packages/node/src/network-configuration.ts
  packages/types/src/index.ts
Labels: 📦 Contracts

#1506 [node] Add mapping for appInstanceId of ETH Free Balance
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/store.ts
  packages/node/test/integration/cant-uninstall-free-balance.spec.ts
Labels: 📦 Node

#1507 [node] Refactor handling of error messages
  packages/node/src/events/install-virtual/controller.ts
  packages/node/src/events/install/controller.ts
  packages/node/src/methods/app-instance/get-app-instance/controller.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/app-instance/get-state/controller.ts
  packages/node/src/methods/app-instance/install-virtual/controller.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall-virtual/controller.ts
  packages/node/src/methods/app-instance/uninstall/controller.ts
  packages/node/src/methods/app-instance/update-state/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/network-configuration.ts
  packages/node/src/services.ts
  packages/node/src/store.ts
  packages/node/src/utils.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cant-uninstall-free-balance.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/unit/install.spec.ts
Labels: 📦 Node, 🧬 Code Quality

#1526 [types] Dedupe types
  packages/types/src/data-types.ts
  packages/types/src/index.ts
  packages/types/src/node-protocol.ts
  packages/types/src/node.ts
Labels: 🧬 Code Quality

#1531 [repo] Add typescript references for types package
  packages/cf.js/package.json
  packages/cf.js/tsconfig.json
  packages/dapp-high-roller/tsconfig.json
  packages/high-roller-bot/scripts/postinstall.sh
  packages/high-roller-bot/tsconfig.json
  packages/node-provider/package.json
  packages/node-provider/tsconfig.json
  packages/node/package.json
  packages/node/tsconfig.json
  packages/playground-server/tsconfig.json
  packages/playground/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
Labels: 🧬 Code Quality

#1540 Rename "resolution" to "outcome" and "resolve" to "computeOutcome"
  README.md
  packages/apps/contracts/HighRollerApp.sol
  packages/apps/contracts/NimApp.sol
  packages/apps/contracts/TicTacToeApp.sol
  packages/apps/test/high-roller-app.spec.ts
  packages/apps/test/tictactoe.spec.ts
  packages/contracts/contracts/AppRegistry.sol
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/contracts/TwoPartyVirtualEthAsLump.sol
  packages/contracts/contracts/default-apps/ETHBalanceRefundApp.sol
  packages/contracts/contracts/default-apps/ETHBucket.sol
  packages/contracts/contracts/interfaces/CounterfactualApp.sol
  packages/contracts/contracts/interfaces/Interpreter.sol
  packages/contracts/contracts/interfaces/TwoPartyOutcome.sol
  packages/contracts/contracts/interpreters/TwoPartyEthAsLump.sol
  packages/contracts/contracts/mixins/MAppCaller.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinProgressChallenge.sol
  packages/contracts/contracts/mixins/MixinSetOutcome.sol
  packages/contracts/contracts/test-fixtures/AppWithAction.sol
  packages/contracts/contracts/test-fixtures/FixedTwoPartyOutcomeApp.sol
  packages/contracts/test/eth-virtual-app-agreement.spec.ts
  packages/dapp-high-roller/UserStory.txt
  packages/node/src/models/app-instance.ts
  packages/node/src/protocol/install.ts
  packages/node/src/protocol/uninstall-virtual-app.ts
  packages/node/src/protocol/uninstall.ts
  packages/node/src/protocol/utils/get-outcome-increments.ts
  packages/node/test/machine/integration/eth-virtual-app-agreement-commitment.spec.ts
  packages/node/test/machine/integration/install-then-set-state.spec.ts
  packages/node/test/machine/integration/setup-then-set-state.spec.ts
  packages/specs/source/adjudication-layer.md
  packages/specs/source/app-definition.md
  packages/specs/source/introduction.md
  packages/specs/source/protocols/install.md
  packages/specs/source/protocols/uninstall.md
  packages/specs/source/protocols/update.md
  packages/types/src/data-types.ts
  packages/types/src/index.ts
Labels: 📖 Documentation, 🧬 Code Quality

#1537 Rename "progressChallenge" to "respondToChallenge"
  packages/contracts/contracts/AppRegistry.sol
  packages/contracts/contracts/mixins/MixinRespondToChallenge.sol
  packages/contracts/test/app-registry-dispute.spec.ts
  packages/specs/source/adjudication-layer.md
Labels: 🧬 Code Quality

#1538 Add error message to executeAppConditionalTransaction failure mode
  packages/contracts/contracts/StateChannelTransaction.sol
Labels: 🧬 Code Quality

#1539 Remove interpreterHash
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/mixins/MixinSetOutcome.sol
  packages/contracts/test/eth-virtual-app-agreement.spec.ts
  packages/contracts/test/utils/index.ts
  packages/node/src/ethereum/utils/encodings.ts
  packages/node/src/models/app-instance.ts
  packages/node/test/machine/unit/ethereum/eth-virtual-app-agreement-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/install-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/uninstall-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/virtual-app-set-state-commitment.spec.ts
  packages/specs/source/adjudication-layer.md
  packages/specs/source/protocols/update.md
  packages/types/src/app-instance.ts
Labels: 🧬 Code Quality

#1536 Rename dispute to challenge everywhere
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinAppRegistryCore.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinRespondToChallenge.sol
  packages/contracts/contracts/mixins/MixinSetOutcome.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/contracts/test/app-registry-dispute.spec.ts
  packages/contracts/test/app-registry.spec.ts
  packages/contracts/test/utils/index.ts
  packages/specs/source/adjudication-layer.md
  packages/types/src/simple-types.ts
Labels: 📖 Documentation, 🧬 Code Quality

#1551 Fix @stencil/core to 0.18.1-0
  packages/dapp-high-roller/package.json
  packages/playground/package.json
  yarn.lock
Labels: 🐞 Bug, 📡 npm related, 📦 Playground

#1552 [contracts, apps] Update deployment instructions
  packages/apps/README.md
  packages/contracts/README.md
Labels: 📦 Contracts

#1557 Revert "Update dependency firebase to v6.0.4"
  packages/node/package.json
  yarn.lock
Labels: 🐞 Bug, 📦 Node, 📦 PlaygroundServer

#1556 Rename executeAppConditionalTransaction to executeEffectOfInterpretedAppOutcome
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/node/src/ethereum/install-commitment.ts
  packages/node/src/ethereum/setup-commitment.ts
  packages/node/test/machine/unit/ethereum/install-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/setup-commitment.spec.ts
  packages/specs/source/adjudication-layer.md
  packages/specs/source/diagrams/cleanup-protocol-commitment1.mmd
  packages/specs/source/diagrams/install-protocol-commitment.mmd
  packages/specs/source/diagrams/setup-commitment.mmd
  packages/specs/source/protocols/cleanup.md
  packages/specs/source/protocols/install.md
Labels: 📖 Documentation

#1571 [bots] Fix bots' build scripts
  packages/high-roller-bot/package.json
  packages/high-roller-bot/scripts/heroku-postbuild.sh
  packages/high-roller-bot/tsconfig.do-not-edit-merged.json
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/scripts/heroku-postbuild.sh
  packages/tic-tac-toe-bot/tsconfig.do-not-edit-merged.json
Labels: 📦 HighRollerBot, 📦 TicTacToeBot

#1544 Add .nvmrc and regenerate yarn.lock
  .nvmrc
  yarn.lock
Labels: ⚙️ Monorepo, 📡 npm related

#1569 Add some documentation on the Dockerfile
  .circleci/README.md
Labels: 📖 Documentation, 📟 CircleCI

#1574 Rename AppRegistry to ChallengeRegistry
  packages/contracts/contracts/ChallengeRegistry.sol
  packages/contracts/contracts/StateChannelTransaction.sol
  packages/contracts/contracts/TwoPartyVirtualEthAsLump.sol
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/mixins/MAppCaller.sol
  packages/contracts/contracts/mixins/MChallengeRegistryCore.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinChallengeRegistryCore.sol
  packages/contracts/contracts/mixins/MixinRespondToChallenge.sol
  packages/contracts/contracts/mixins/MixinSetOutcome.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/contracts/migrations/2_deploy_libraries.js
  packages/contracts/migrations/3_deploy_contracts.js
  packages/contracts/networks/3.json
  packages/contracts/networks/4.json
  packages/contracts/networks/42.json
  packages/contracts/test/challenge-registry-dispute.spec.ts
  packages/contracts/test/challenge-registry.spec.ts
  packages/contracts/test/two-party-virtual-eth-as-lump.spec.ts
  packages/contracts/test/utils/index.ts
  packages/dapp-high-roller/src/data/types.ts
  packages/high-roller-bot/src/utils.ts
  packages/node/src/ethereum/install-commitment.ts
  packages/node/src/ethereum/multisend-commitment.ts
  packages/node/src/ethereum/set-state-commitment.ts
  packages/node/src/ethereum/setup-commitment.ts
  packages/node/src/ethereum/two-party-virtual-eth-as-lump-commitment.ts
  packages/node/src/ethereum/virtual-app-set-state-commitment.ts
  packages/node/test/contract-deployments.jest.ts
  packages/node/test/machine/integration/install-then-set-state.spec.ts
  packages/node/test/machine/integration/set-state.spec.ts
  packages/node/test/machine/integration/setup-then-set-state.spec.ts
  packages/node/test/machine/integration/two-party-virtual-eth-as-lump-commitment.spec.ts
  packages/node/test/machine/integration/virtual-app-set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/install-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/setup-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/two-party-virtual-eth-as-lump.spec.ts
  packages/node/test/machine/unit/ethereum/uninstall-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/virtual-app-set-state-commitment.spec.ts
  packages/node/test/node-test-environment.jest.js
  packages/playground-server/src/errors.ts
  packages/playground-server/src/resources/app/processor.ts
  packages/playground-server/test/node-test-environment.jest.js
  packages/playground/src/types.ts
  packages/specs/source/adjudication-layer.md
  packages/specs/source/diagrams/install-protocol-commitment.mmd
  packages/specs/source/diagrams/setstate-protocol-commitment.mmd
  packages/specs/source/diagrams/uninstall-protocol-commitment.mmd
  packages/tic-tac-toe-bot/src/utils.ts
  packages/tic-tac-toe-bot/test/node-test-environment.jest.js
  packages/types/src/index.ts
  packages/types/src/node.ts
Labels: DO NOT MERGE

#1573 Rename AppStatus to ChallengeStatus
  packages/contracts/contracts/libs/LibStateChannelApp.sol
  packages/contracts/contracts/mixins/MixinCancelChallenge.sol
  packages/contracts/contracts/mixins/MixinChallengeRegistryCore.sol
  packages/contracts/contracts/mixins/MixinRespondToChallenge.sol
  packages/contracts/contracts/mixins/MixinSetOutcome.sol
  packages/contracts/contracts/mixins/MixinSetState.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/specs/source/adjudication-layer.md
Labels: 📖 Documentation, 🧬 Code Quality

#1589 [postgres-connector] Include org scope in package name
  packages/postgresql-node-connector/package.json
Labels: 🐞 Bug
