Repository counterfactual/monorepo, pull requests merged in 2019-07, with the labels that each got.

#1792 [node] Update free balance state
  packages/apps/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/chain/package.json
  packages/contracts/contracts/default-apps/ETHBucket.sol
  packages/contracts/contracts/interpreters/ETHInterpreter.sol
  packages/contracts/package.json
  packages/firebase-client/package.json
  packages/high-roller-bot/package.json
  packages/high-roller-bot/yarn.lock
  packages/node-provider/package.json
  packages/node/jest.config.js
  packages/node/package.json
  packages/node/src/ethereum/uninstall-commitment.ts
  packages/node/src/ethereum/utils/eth-bucket.ts
  packages/node/src/ethereum/utils/funds-bucket.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/models/free-balance.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/protocol/uninstall-virtual-app.ts
  packages/node/src/protocol/uninstall.ts
  packages/node/src/protocol/withdraw-eth.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/integration/install-then-set-state.spec.ts
  packages/node/test/machine/integration/set-state.spec.ts
  packages/node/test/machine/integration/setup-then-set-state.spec.ts
  packages/node/test/machine/integration/two-party-virtual-eth-as-lump-commitment.spec.ts
  packages/node/test/machine/integration/virtual-app-set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/install-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/two-party-virtual-eth-as-lump.spec.ts
  packages/node/test/machine/unit/ethereum/uninstall-commitment.spec.ts
  packages/node/test/machine/unit/models/state-channel/install.spec.ts
  packages/node/test/machine/unit/models/state-channel/setup-channel.spec.ts
  packages/node/test/machine/unit/models/state-channel/uninstall-app.spec.ts
  packages/node/test/unit/install.spec.ts
  packages/playground/package.json
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/simple-hub-server/yarn.lock
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/yarn.lock
  packages/types/src/app-instance.ts
  packages/types/src/data-types.ts
  packages/types/src/index.ts
  yarn.lock
Labels: 📦 Node, 🧬 Code Quality

#1806 [types] Remove stale versioning
  packages/types/package.json
  yarn.lock
Labels: 🐞 Bug

#1827 [node] Deposit ERC20
  packages/apps/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/chain/package.json
  packages/chain/src/contract-deployments.jest.ts
  packages/chain/src/index.ts
  packages/chain/test/contracts-deployment.spec.ts
  packages/contracts/contracts/default-apps/CoinBalanceRefundApp.sol
  packages/contracts/migrations/2_deploy_contracts.js
  packages/contracts/networks/3.json
  packages/contracts/networks/4.json
  packages/contracts/networks/42.json
  packages/contracts/package.json
  packages/firebase-client/package.json
  packages/high-roller-bot/package.json
  packages/high-roller-bot/yarn.lock
  packages/node-provider/package.json
  packages/node/README.md
  packages/node/package.json
  packages/node/src/machine/types.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/models/free-balance.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/node.ts
  packages/node/src/protocol/uninstall.ts
  packages/node/src/protocol/withdraw-eth.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/integration/virtual-app-set-state-commitment.spec.ts
  packages/node/test/machine/unit/models/state-channel/uninstall-app.spec.ts
  packages/playground/package.json
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/simple-hub-server/test/node-test-environment.jest.js
  packages/simple-hub-server/yarn.lock
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/test/node-test-environment.jest.js
  packages/tic-tac-toe-bot/yarn.lock
  packages/types/package.json
  packages/types/src/data-types.ts
  packages/types/src/index.ts
  packages/types/src/node.ts
  packages/types/src/simple-types.ts
Labels: Feature, 📦 Node

#1830 [node] ERC20 withdrawal
  packages/apps/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/chain/package.json
  packages/contracts/package.json
  packages/firebase-client/package.json
  packages/high-roller-bot/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/node/src/ethereum/index.ts
  packages/node/src/ethereum/withdraw-erc20-commitment.ts
  packages/node/src/machine/types.ts
  packages/node/src/methods/errors.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/src/methods/state-channel/withdraw/operation.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/protocol/index.ts
  packages/node/src/protocol/withdraw.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/unit/models/state-channel/set-state.spec.ts
  packages/playground/package.json
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/tic-tac-toe-bot/package.json
  packages/types/package.json
  packages/types/src/node.ts
Labels: Feature, 📦 Node

#1804 [playground] [node] [cf-wallet] [cf.js] Fixes most of the messaging layer problems
  packages/cf-wallet.js/src/provider.ts
  packages/cf-wallet.js/test/fixture.ts
  packages/cf-wallet.js/test/provider.spec.ts
  packages/cf.js/src/app-factory.ts
  packages/cf.js/src/app-instance.ts
  packages/cf.js/src/provider.ts
  packages/cf.js/test/app-factory.spec.ts
  packages/cf.js/test/app-instance.spec.ts
  packages/cf.js/test/fixture.ts
  packages/cf.js/test/provider.spec.ts
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/data/mock-node-provider.ts
  packages/node/src/methods/app-instance/get-free-balance/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/request-handler.ts
  packages/node/src/rpc-router.ts
  packages/node/test/integration/get-state-deposit-holder-address.spec.ts
  packages/node/test/integration/reject-install-virtual-with-postgres.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/utils.ts
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/playground/src/data/counterfactual.ts
  packages/playground/src/data/firebase.ts
Labels: 🐞 Bug, 📦 Node, 📦 Playground, 📦 cf-wallet.js, 📦 cf.js

#1851 [node] Update protocol message handling to queue on different topics
  packages/chain/package.json
  packages/node/src/message-handling/handle-protocol-message.ts
  packages/node/src/utils.ts
Labels: 📦 Node

#1900 [node] Rename roles
  .github/ISSUE_TEMPLATE.md
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/data/types.ts
  packages/node/src/machine/instruction-executor.ts
  packages/node/src/machine/types.ts
  packages/node/src/message-handling/handle-protocol-message.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/install/controller.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall-virtual/operation.ts
  packages/node/src/methods/app-instance/uninstall/operation.ts
  packages/node/src/methods/app-instance/update-state/controller.ts
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/src/methods/state-channel/deposit/operation.ts
  packages/node/src/methods/state-channel/withdraw/operation.ts
  packages/node/src/protocol/install-virtual-app.ts
  packages/node/src/protocol/install.ts
  packages/node/src/protocol/setup.ts
  packages/node/src/protocol/take-action.ts
  packages/node/src/protocol/uninstall-virtual-app.ts
  packages/node/src/protocol/uninstall.ts
  packages/node/src/protocol/update.ts
  packages/node/src/protocol/withdraw.ts
  packages/node/src/store.ts
  packages/node/test/machine/integration/protocols.spec.ts
  packages/playground/src/components/dapp-container/dapp-container.tsx
  packages/specs/source/adjudication-layer.md
  packages/specs/source/protocols/install-virtual-app.md
  packages/specs/source/protocols/install.md
  packages/specs/source/protocols/uninstall-virtual-app.md
  packages/specs/source/protocols/update.md
  packages/specs/source/protocols/withdraw.md
Labels: 📦 Node, 🧬 Code Quality

#1902 [node] Update deposit param names
  packages/cf-wallet.js/src/app-instance.ts
  packages/cf-wallet.js/test/provider.spec.ts
  packages/cf.js/src/app-factory.ts
  packages/cf.js/src/app-instance.ts
  packages/cf.js/test/app-factory.spec.ts
  packages/cf.js/test/app-instance.spec.ts
  packages/cf.js/test/provider.spec.ts
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/data/mock-app-instance.ts
  packages/dapp-high-roller/src/data/types.ts
  packages/dapp-tic-tac-toe/src/MockNodeProvider.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/node/README.md
  packages/node/src/message-handling/handle-node-message.ts
  packages/node/src/methods/app-instance/install-virtual/operation.ts
  packages/node/src/methods/app-instance/install/operation.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/test/integration/utils.ts
  packages/node/test/unit/utils.ts
  packages/playground/src/components/node-listener/dialogs/propose-install/dialog-propose-install.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/tic-tac-toe-bot/test/integration.spec.ts
  packages/types/src/data-types.ts
  packages/types/src/node.ts
Labels: 📦 Node, 🧬 Code Quality

#1911 [node] Update withdraw test to take recipient
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/utils.ts
Labels: 🐞 Bug, 📦 Node

#1854 Remove VirtualAppSetState special-case adjudicator function
  packages/chain/src/contract-deployments.jest.ts
  packages/contracts/contracts/ChallengeRegistry.sol
  packages/contracts/contracts/default-apps/TimeLockedPassthrough.sol
  packages/contracts/contracts/interpreters/TwoPartyFixedOutcomeFromVirtualAppETHInterpreter.sol
  packages/contracts/contracts/mixins/MixinVirtualAppSetState.sol
  packages/contracts/migrations/2_deploy_contracts.js
  packages/contracts/networks/3.json
  packages/contracts/networks/4.json
  packages/contracts/networks/42.json
  packages/node/src/ethereum/index.ts
  packages/node/src/ethereum/virtual-app-set-state-commitment.ts
  packages/node/src/machine/enums.ts
  packages/node/src/machine/index.ts
  packages/node/src/machine/middleware.ts
  packages/node/src/machine/types.ts
  packages/node/src/machine/virtual-app-unique-identifier.ts
  packages/node/src/message-handling/handle-node-message.ts
  packages/node/src/methods/app-instance/propose-install-virtual/controller.ts
  packages/node/src/methods/app-instance/propose-install-virtual/operation.ts
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/app-instance/uninstall-virtual/controller.ts
  packages/node/src/methods/app-instance/uninstall-virtual/operation.ts
  packages/node/src/models/app-instance.ts
  packages/node/src/models/proposed-app-instance-info.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/node.ts
  packages/node/src/protocol/install-virtual-app.ts
  packages/node/src/protocol/uninstall-virtual-app.ts
  packages/node/src/protocol/uninstall.ts
  packages/node/src/protocol/utils/get-outcome-increments.ts
  packages/node/src/protocol/utils/signature-validator.ts
  packages/node/src/request-handler.ts
  packages/node/src/store.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/machine/integration/install-virtual.spec.ts
  packages/node/test/machine/integration/mininode.ts
  packages/node/test/machine/integration/protocols.spec.ts
  packages/node/test/machine/integration/virtual-app-set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/virtual-app-set-state-commitment.spec.ts
  packages/node/test/unit/install.spec.ts
  packages/specs/source/diagrams/install-virtual-app-exchange.mmd
  packages/specs/source/protocols/install-virtual-app.md
  packages/specs/source/protocols/uninstall-virtual-app.md
  packages/types/src/index.ts
Labels: 📦 Contracts

#1912 [node] Update withdraw API
  packages/apps/package.json
  packages/cf-wallet.js/package.json
  packages/cf.js/package.json
  packages/chain/package.json
  packages/contracts/package.json
  packages/firebase-client/package.json
  packages/high-roller-bot/package.json
  packages/node-provider/package.json
  packages/node/README.md
  packages/node/package.json
  packages/node/src/methods/state-channel/withdraw/controller.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/playground/package.json
  packages/postgresql-node-connector/package.json
  packages/simple-hub-server/package.json
  packages/tic-tac-toe-bot/package.json
  packages/types/package.json
  packages/types/src/node.ts
  patches/@resolver-engine+imports-fs+0.3.2.patch
  patches/@resolver-engine+imports-fs+0.3.3.patch
  yarn.lock
Labels: 📖 Documentation, 📦 Node

#1961 [node] Fix extracting multisig address value
  packages/high-roller-bot/package.json
  packages/node/package.json
  packages/node/src/message-handling/handle-protocol-message.ts
  packages/simple-hub-server/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 🐞 Bug, 📦 Node

#1968 [Wallet-UI] Various small fixes
  packages/wallet-ui/src/App.tsx
  packages/wallet-ui/src/components/account/account-context/AccountContext.spec.tsx
  packages/wallet-ui/src/components/account/account-context/AccountContext.tsx
  packages/wallet-ui/src/components/form/form-button/FormButton.tsx
  packages/wallet-ui/src/components/form/form-input/FormInput.tsx
  packages/wallet-ui/src/pages/account-deposit/AccountDeposit.spec.tsx
  packages/wallet-ui/src/pages/account-deposit/AccountDeposit.tsx
  packages/wallet-ui/src/pages/account-registration/AccountRegistration.spec.tsx
  packages/wallet-ui/src/pages/account-registration/AccountRegistration.tsx
  packages/wallet-ui/src/pages/welcome/Welcome.spec.tsx
  packages/wallet-ui/src/pages/welcome/Welcome.tsx
  packages/wallet-ui/src/store/wallet/wallet.ts
  packages/wallet-ui/src/utils/hub-api-client.ts
Labels: 🐞 Bug, 📦 Wallet UI

#1919 [wallet-ui] Fixes `depositConfirmedEvent` on onboarding flow
  packages/node/src/methods/app-instance/take-action/controller.ts
  packages/node/src/methods/state-channel/deposit/controller.ts
  packages/node/src/node.ts
  packages/node/src/request-handler.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/utils.ts
  packages/simple-hub-server/src/node.ts
  packages/wallet-ui/src/utils/counterfactual.ts
Labels: 📦 Node, 📦 Wallet UI

#1978 [node] Update Node doc to refer to outcome types
  packages/node/README.md
  packages/types/src/data-types.ts
Labels: 📖 Documentation

#1984 [node] Update function name that calculates free balance address
  packages/node/src/node.ts
  packages/node/src/utils.ts
Labels: 📦 Node, 🧬 Code Quality

#1985 [node] Update test collateralize function to take deposit amount
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/utils.ts
Labels: 📦 Node, 🧬 Code Quality

#1994 [node] [documentation] Fixes diagrams' readibility for Chrome extensions, links document from the README
  packages/node/README.md
  packages/node/docs/diagram.md
Labels: 📖 Documentation, 📦 Node

#1998 [node] Reduce test code confusion
  packages/node/test/integration/utils.ts
Labels: 🐢 Testing, 📦 Node, 🧬 Code Quality

#2002 [node] Refactor some tests
  packages/node/test/integration/install.spec.ts
Labels: 📦 Node, 🧬 Code Quality

#1986 [node] More rigorous testing of the TwoPartyFixedOutcome
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
Labels: 🐢 Testing, 📦 Node

#2008 [node] Refactor app installation in tests to be more general
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-with-postgres.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
Labels: 🐢 Testing, 📦 Node, 🧬 Code Quality

#2009 [node] Refactors some test utils and fixes some errors
  packages/node/src/methods/app-instance/propose-install/controller.ts
  packages/node/src/rpc-router.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/reject-install-virtual-with-postgres.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/tic-tac-toe.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall-with-postgres.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/integration/utils.ts
Labels: 🐢 Testing, 📦 Node, 🧬 Code Quality

#2019 [contract] Fix contract file name
  packages/apps/package.json
  packages/contracts/contracts/interpreters/TwoPartyFixedOutcomeFromVirtualAppInterpreter.sol
  packages/contracts/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/high-roller-bot/package.json
  packages/local-ganache-server/package.json
  packages/node/package.json
  packages/simple-hub-server/package.json
  packages/tic-tac-toe-bot/package.json
Labels: 🐞 Bug, 📦 Contracts

#2023 [Wallet-UI] Registration redirection fix
  packages/simple-hub-server/src/index.ts
  packages/wallet-ui/src/App.tsx
  packages/wallet-ui/src/components/account/account-context/AccountContext.tsx
  packages/wallet-ui/src/store/user/user.ts
Labels: 🐞 Bug, 📦 Wallet UI

#2032 [wallet-ui] Fixes broken tests on `master`
  packages/wallet-ui/src/components/account/account-context/AccountContext.mock.json
  packages/wallet-ui/src/store/user/user.spec.ts
Labels: 🐞 Bug, 🐢 Testing, 📦 Wallet UI

#2031 [cf-metamask-extension] Updates usage guidelines
  packages/cf-metamask-extension/README.md
Labels: 📖 Documentation

#2029 [monorepo] [wallet-ui] Adds new run-scripts and lint-scripts for Wallet UI
  package.json
  packages/wallet-ui/package.json
  packages/wallet-ui/src/store/channels/channels.mock.ts
  packages/wallet-ui/src/store/user/user.mock.ts
  packages/wallet-ui/src/store/user/user.ts
  packages/wallet-ui/src/store/wallet/wallet.ts
  packages/wallet-ui/src/utils/counterfactual.ts
  packages/wallet-ui/src/utils/testSelector.ts
Labels: ⚙️ Monorepo, 💻 Developer Experience, 📦 Wallet UI

#2067 [Wallet-UI] Alonskys branch MM Integration & small fixes
  packages/wallet-ui/src/App.test.tsx
  packages/wallet-ui/src/components/account/account-context/AccountContext.spec.tsx
  packages/wallet-ui/src/components/account/account-context/AccountContext.tsx
  packages/wallet-ui/src/store/test-utils/ethereum.mock.ts
  packages/wallet-ui/src/store/user/user.mock.ts
  packages/wallet-ui/src/store/user/user.spec.ts
  packages/wallet-ui/src/store/user/user.ts
  packages/wallet-ui/src/utils/counterfactual.spec.ts
  packages/wallet-ui/src/utils/counterfactual.ts
Labels: 🐢 Testing, 📦 Wallet UI

#2077 [Wallet UI] Transition fixes & FormInput Unit selector
  packages/wallet-ui/src/components/form/form-input/FormInput.scss
  packages/wallet-ui/src/components/form/form-input/FormInput.tsx
  packages/wallet-ui/src/pages/account-deposit/AccountDeposit.tsx
  packages/wallet-ui/src/pages/account-withdraw/AccountWithdraw.tsx
  packages/wallet-ui/src/store/types.ts
  packages/wallet-ui/src/store/wallet/wallet.mock.ts
  packages/wallet-ui/src/store/wallet/wallet.spec.ts
  packages/wallet-ui/src/store/wallet/wallet.ts
  packages/wallet-ui/src/utils/counterfactual.ts
Labels: 👨‍🎨 UI improvements, 📦 Wallet UI
