Repository counterfactual/monorepo, pull requests merged in 2019-04, with the labels that each got.

#1201 [node] Tiny code cleanups
  packages/node/.env.defaults
  packages/node/.env.schema
  packages/node/test/global-setup.jest.ts
  packages/node/test/global-teardown.jest.ts
  packages/node/test/integration/cant-take-action.spec.ts
  packages/node/test/integration/cross-node-multisig-creation.spec.ts
  packages/node/test/integration/get-app-instance.spec.ts
  packages/node/test/integration/get-app-instances.spec.ts
  packages/node/test/integration/get-state.spec.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/node-store.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/propose-install.spec.ts
  packages/node/test/integration/reject-install-virtual.spec.ts
  packages/node/test/integration/reject-install.spec.ts
  packages/node/test/integration/secure-deposit.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
  packages/node/test/integration/take-action-virtual.spec.ts
  packages/node/test/integration/take-action.spec.ts
  packages/node/test/integration/uninstall-virtual.spec.ts
  packages/node/test/integration/uninstall.spec.ts
  packages/node/test/test-constants.jest.ts
  packages/node/test/unit/get-state.spec.ts
  packages/node/test/unit/install.spec.ts
  packages/node/test/unit/node.spec.ts
  packages/playground-server/test/global-setup.jest.ts
  packages/tic-tac-toe-bot/test/global-setup.jest.ts
  packages/tic-tac-toe-bot/test/node-test-environment.jest.js
  yarn.lock
Labels: 📦 Node, 🧬 Code Quality

#1215 Upgrade packages
  package.json
  packages/cf.js/package.json
  packages/contracts/package.json
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/high-roller-bot/package.json
  packages/machine/package.json
  packages/node-provider/package.json
  packages/node/package.json
  packages/playground-server/package.json
  packages/tic-tac-toe-bot/package.json
  packages/types/package.json
  packages/typescript-typings/package.json
  yarn.lock
Labels: greenkeeper

#1213 Remove warnings in test files
  packages/cf.js/test/utils/abi.spec.ts
  packages/cf.js/test/utils/signature.spec.ts
  packages/contracts/test/app-registry.spec.ts
Labels: 🧬 Code Quality

#1220 [playground] Adds a better README for the Playground
  packages/playground/README.md
Labels: 📖 Documentation, 📦 Playground

#787 [contracts] Add ProxyFactory with CREATE2 functionality
  packages/contracts/contracts/proxies/Proxy.sol
  packages/contracts/contracts/proxies/ProxyFactory.sol
  packages/contracts/contracts/test-fixtures/Echo.sol
  packages/contracts/test/create2.spec.ts
  packages/machine/truffle-config.js
Labels: 💎 Ethereum

#1231 [playground-server] Updates jsonapi-ts to 0.1.17
  packages/playground-server/package.json
  packages/playground-server/src/resources/app/resource.ts
  packages/playground-server/src/resources/heartbeat/resource.ts
  packages/playground-server/src/resources/matchmaking-request/resource.ts
  packages/playground-server/src/resources/multisig-deploy/processor.ts
  packages/playground-server/src/resources/multisig-deploy/resource.ts
  packages/playground-server/src/resources/session-request/resource.ts
  packages/playground-server/src/resources/user/processor.ts
  packages/playground-server/src/resources/user/resource.ts
  packages/playground-server/test/api.spec.ts
  yarn.lock
Labels: 📦 PlaygroundServer, 🧬 Code Quality

#1304 [repo] Fix revonate config typo
  renovate.json
Labels: revonate, 📡 npm related, 🧬 Code Quality

#1305 [apps, contracts] Clean up waffle js
  packages/apps/waffle.js
  packages/contracts/waffle.js
Labels: 🧬 Code Quality

#1312 Introduction of an Adjudication Layer specification
  packages/contracts/contracts/mixins/MAppRegistryCore.sol
  packages/specs/source/00-introduction.md
  packages/specs/source/01-app-definition.md
  packages/specs/source/01-contracts.md
  packages/specs/source/02-adjudication-layer.md
  packages/specs/source/index.rst
Labels: 📖 Documentation, 🔐 Protocol Related

#1320 Improve AppDefinition documentation
  packages/specs/source/01-app-definition.md
Labels: 📖 Documentation

#1335 [node] Document the getFreeBalance API method
  packages/cf.js/API_REFERENCE.md
Labels: 💻 Developer Experience, 📖 Documentation, 📦 Node

#1333 [node] Moves files from machine subfolder to higher order folder
  packages/node/src/ethereum/eth-virtual-app-agreement-commitment.ts
  packages/node/src/ethereum/index.ts
  packages/node/src/ethereum/install-commitment.ts
  packages/node/src/ethereum/multisend-commitment.ts
  packages/node/src/ethereum/multisig-commitment.ts
  packages/node/src/ethereum/set-state-commitment.ts
  packages/node/src/ethereum/setup-commitment.ts
  packages/node/src/ethereum/types.ts
  packages/node/src/ethereum/uninstall-commitment.ts
  packages/node/src/ethereum/utils/app-identity.ts
  packages/node/src/ethereum/utils/encodings.ts
  packages/node/src/ethereum/utils/eth-bucket.ts
  packages/node/src/ethereum/utils/index.ts
  packages/node/src/ethereum/utils/multisend-decoder.ts
  packages/node/src/ethereum/utils/multisend-encoder.ts
  packages/node/src/ethereum/virtual-app-set-state-commitment.ts
  packages/node/src/ethereum/withdraw-eth-commitment.ts
  packages/node/src/machine/index.ts
  packages/node/src/machine/instruction-executor.ts
  packages/node/src/machine/models/index.ts
  packages/node/src/machine/types.ts
  packages/node/src/models/app-instance.ts
  packages/node/src/models/eth-virtual-app-agreement-instance.ts
  packages/node/src/models/index.ts
  packages/node/src/models/state-channel.ts
  packages/node/src/protocol/index.ts
  packages/node/src/protocol/install-virtual-app.ts
  packages/node/src/protocol/install.ts
  packages/node/src/protocol/setup.ts
  packages/node/src/protocol/take-action.ts
  packages/node/src/protocol/uninstall-virtual-app.ts
  packages/node/src/protocol/uninstall.ts
  packages/node/src/protocol/update.ts
  packages/node/src/protocol/utils/get-channel-from-counterparty.ts
  packages/node/src/protocol/utils/get-resolution-increments.ts
  packages/node/src/protocol/utils/signature-forwarder.ts
  packages/node/src/protocol/utils/signature-validator.ts
  packages/node/src/protocol/withdraw-eth.ts
  packages/node/test/machine/integration/eth-virtual-app-agreement-commitment.spec.ts
  packages/node/test/machine/integration/install-then-set-state.spec.ts
  packages/node/test/machine/integration/mininode.ts
  packages/node/test/machine/integration/set-state.spec.ts
  packages/node/test/machine/integration/setup-then-set-state.spec.ts
  packages/node/test/machine/integration/virtual-app-set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/eth-virtual-app-agreement-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/install-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/setup-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/uninstall-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/virtual-app-set-state-commitment.spec.ts
  packages/node/test/machine/unit/ethereum/withdraw-eth-commitment.spec.ts
  packages/node/test/machine/unit/models/app-instance/app-instance.spec.ts
  packages/node/test/machine/unit/models/state-channel/install.spec.ts
  packages/node/test/machine/unit/models/state-channel/set-state.spec.ts
  packages/node/test/machine/unit/models/state-channel/setup-channel.spec.ts
  packages/node/test/machine/unit/models/state-channel/state-channel.spec.ts
  packages/node/test/machine/unit/models/state-channel/uninstall-app.spec.ts
  packages/node/test/machine/unit/protocol/signature-validator.spec.ts
Labels: 📦 Machine, 📦 Node, 🧬 Code Quality

#1336 [node] Fix identifier reference in API doc
  packages/cf.js/API_REFERENCE.md
  packages/cf.js/src/app-factory.ts
  packages/types/src/node.ts
Labels: 💻 Developer Experience, 📖 Documentation, 📦 Node

#1337 [contracts] Deploy updated ProxyFactory contract
  packages/contracts/README.md
  packages/contracts/networks/42.json
  packages/contracts/package.json
Labels: 📦 Contracts

#1339 [node][playground-server] Update error message & expose public identifier
  packages/node/src/node.ts
  packages/playground-server/README.md
  packages/playground-server/src/index.ts
Labels: 💻 Developer Experience, 📖 Documentation, 📦 Node, 📦 PlaygroundServer

#1357 [node] Fix node test scripts
  packages/node/package.json
Labels: 🐞 Bug, 💻 Developer Experience, 📦 Node

#1361 [monorepo] Asks `renovate` to ignore @ebryn/jsonapi-ts
  renovate.json
Labels: ⚙️ Monorepo, 📡 npm related

#1265 [node] Remove block confirmations requirement in CREATE_CHANNEL
  packages/node/src/methods/state-channel/create/controller.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/secure-withdraw.spec.ts
Labels: ⚡️ Performance, 💎 Ethereum, 📦 Node

#1367 Clean up unused variable warning
  packages/contracts/contracts/ContractRegistry.sol
  packages/contracts/contracts/mixins/MixinSetStateWithAction.sol
  packages/contracts/contracts/test-fixtures/AppWithAction.sol
  packages/contracts/contracts/test-fixtures/DelegateProxy.sol
  packages/contracts/contracts/test-fixtures/ResolveToPay5WeiApp.sol
Labels: 📦 Contracts

#1370 [node] Fix setting of deposits for non-matching amounts
  packages/node/src/events/propose-install-virtual/operation.ts
  packages/node/src/events/propose-install/operation.ts
  packages/node/test/global-setup.jest.ts
  packages/node/test/integration/install-virtual.spec.ts
  packages/node/test/integration/install.spec.ts
  packages/node/test/integration/propose-install-virtual.spec.ts
  packages/node/test/integration/utils.ts
  packages/node/test/node-test-environment.jest.js
Labels: 🐞 Bug, 📦 Node
